<table class="table m-b-none footable-loaded footable default table-striped table-bordered" ui-jq="footable" data-filter="#filter">

  <thead>
  <tr>
    <th data-toggle="true" class="footable-visible footable-sortable footable-first-column">
      <%= t('product_padding.product_type') %>
    </th>

    <th data-toggle="true" class="footable-visible footable-sortable footable-first-column">
      <%= t('product_padding.binding_type') %>
    </th>

    <th data-hide="phone" class="footable-visible footable-sortable footable-last-column">
      <%= t('product_padding.gor_mm') %>
    </th>

    <th data-hide="phone" class="footable-visible footable-sortable footable-last-column">
      <%= t('product_padding.ver_mm') %>
    </th>

    <th width="50"></th>
  </tr>
  </thead>

  <tbody>

  <% @product_paddings.each do |product_padding| %>

      <tr class="<%= product_padding.tr_class(@product_paddings) %>" style="display: table-row;">

        <td class="footable-visible footable-first-column v-middle">
          <span class="footable-toggle"><%= product_padding.product_type %></span>
        </td>

        <td class="footable-visible v-middle">
          <span class="footable-toggle"><%= product_padding.binding_type %></span>
        </td>

        <td class="footable-visible v-middle">
          <span class="footable-toggle"><%= product_padding.gor_mm %></span>
        </td>

        <td class="footable-visible v-middle">
          <span class="footable-toggle"><%= product_padding.ver_mm %></span>
        </td>

        <td class="footable-visible footable-last-column">
          <%= product_padding.edit_button %>
        </td>
      </tr>

  <% end %>

  </tbody>

</table>