<div class="bg-light lter b-b wrapper-md hidden-print">
  <%= render partial: 'shared/top_panel', locals: {header: t('product_padding.list')} %>
</div>

<%= render :partial => 'layouts/flash' %>

<div class="wrapper-md">
  <div class="panel panel-default">
    <%= render :partial => 'table' %>
  </div>
</div>