<table class="table m-b-none footable-loaded footable default table-striped table-bordered" ui-jq="footable" data-filter="#filter">

  <thead>
  <tr>
    <th data-toggle="true" class="footable-visible footable-sortable footable-first-column">
      <%= t('material.name') %>
    </th>

    <th data-hide="phone" class="footable-visible footable-sortable footable-last-column">
      <%= t('material.price') %>
    </th>

    <th width="50"></th>
  </tr>
  </thead>

  <tbody>

  <% @materials.each do |material| %>

      <tr class="<%= material.tr_class(@materials) %>" style="display: table-row;">

        <td class="footable-visible footable-first-column v-middle">
          <span class="footable-toggle"><%= material.name %></span>
        </td>

        <td class="footable-visible v-middle">
          <span class="footable-toggle"><%= material.price %></span>
        </td>

        <td class="footable-visible footable-last-column">

          <div class="btn-group dropdown">
            <button class="btn btn-default btn-bg btn-sm dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
              <span class="dropdown-label"><%= t('menu') %></span>
              <span class="caret"></span>
            </button>
            <ul class="dropdown-menu text-left text-sm pull-right">
              <li><%= material.edit_button %></li>
              <li><%= material.remove_button %></li>
            </ul>
          </div>

        </td>
      </tr>

  <% end %>

  </tbody>

</table>