<%= form_for :product_padding, :url => update_product_padding_path(@product_padding), :method => :post, :html => {:class => "form-validation"} do |f| %>

    <div class="bg-light lter b-b wrapper-md hidden-print">
      <%= render partial: 'shared/form_top_panel', locals: {header: t('product_padding.edit_product_padding') % [@product_padding.product_type, @product_padding.binding_type], button: t('product_padding.save')} %>
    </div>

    <%= render :partial => 'layouts/flash' %>

    <div class="wrapper-md">
      <div class="row">

        <div class="col-lg-12">

          <div class="form-group">
            <label><%= I18n.t('product_padding.gor_mm') %></label>
            <input type="text" class="form-control" name="gor_mm" required="" value="<%= @product_padding.gor_mm %>">
          </div>

          <div class="form-group">
            <label><%= I18n.t('product_padding.ver_mm') %></label>
            <input type="text" class="form-control" name="ver_mm" required="" value="<%= @product_padding.ver_mm %>">
          </div>

        </div>

      </div>
    </div>
<% end %>