<table class="table m-b-none footable-loaded footable default table-striped table-bordered" ui-jq="footable" data-filter="#filter">

  <thead>
  <tr>

    <th data-hide="phone" class="footable-visible footable-sortable">
      <%= t('client.fio') %>
    </th>

    <th data-hide="phone" class="footable-visible footable-sortable">
      <%= t('client.phone') %>
    </th>

    <th data-hide="phone" class="footable-visible footable-sortable">
      <%= t('client.email') %>
    </th>

    <th data-hide="phone" class="footable-visible footable-sortable">
      <%= t('client.contract') %>
    </th>

    <th data-hide="phone" class="footable-visible footable-sortable">
      <%= t('client.payer') %>
    </th>

    <th data-hide="phone" class="footable-visible footable-sortable">
      <%= t('client.description') %>
    </th>

    <th data-hide="phone" class="footable-visible footable-sortable">
      <%= t('client.manager') %>
    </th>

    <th data-hide="phone" class="footable-visible footable-sortable">
      <%= t('client.discount') %>
    </th>

    <th data-hide="phone" class="footable-visible footable-sortable">
      <%= t('client.shipping_address') %>
    </th>

    <th width="50"></th>

  </tr>
  </thead>

  <tbody>

  <% @clients.each do |client| %>

      <tr class="<%= client.tr_class(@clients) %>" style="display: table-row;">

        <td class="footable-visible footable-first-column v-middle">
          <span class="footable-toggle"><%= client.fio %></span>
        </td>

        <td class="footable-visible v-middle">
          <span class="footable-toggle"><%= client.phone %></span>
        </td>

        <td class="footable-visible v-middle">
          <span class="footable-toggle"><%= client.email %></span>
        </td>

        <td class="footable-visible v-middle">
          <%= client.contract %>
        </td>

        <td class="footable-visible v-middle">
          <span class="footable-toggle"><%= client.payer %></span>
        </td>

        <td class="footable-visible v-middle">
          <span class="footable-toggle"><%= client.description %></span>
        </td>

        <td class="footable-visible v-middle">
          <span class="footable-toggle"><%= client.manager.fio %></span>
        </td>

        <td class="footable-visible v-middle">
          <span class="footable-toggle"><%= client.discount.name %></span>
        </td>

        <td class="footable-visible v-middle">
          <span class="footable-toggle"><%= client.shipping_address %></span>
        </td>

        <td class="footable-visible footable-last-column v-middle">

          <div class="btn-group dropdown">
            <button class="btn btn-default btn-bg btn-sm dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
              <span class="dropdown-label"><%= t('menu') %></span>
              <span class="caret"></span>
            </button>
            <ul class="dropdown-menu text-left text-sm pull-right">
              <li><%= client.edit_button %></li>
              <li><%= client.branches_button %></li>
              <li class="divider"></li>
              <li><%= client.remove_button %></li>
            </ul>
          </div>

        </td>

      </tr>

  <% end %>

  </tbody>

</table>