<div class="bg-light lter b-b wrapper-md hidden-print">
  <%= render partial: 'shared/top_panel', locals: {header: t('client.list'), button_name: t('client.new'), button_path: new_client_path} %>
</div>

<%= render :partial => 'layouts/flash' %>

<div class="wrapper-md">

  <%= form_for :client, url: clients_path, method: :get, html: {class: "m-b-md"} do |f| %>

      <div class="input-group">
        <input type="text" class="form-control input-lg" placeholder="Введите текст для поиска" value="<%= @search %>" name="search">
        <span class="input-group-btn">
            <button class="btn btn-lg btn-default" type="submit">Искать</button>
        </span>
      </div>

  <% end %>

  <div class="panel panel-default">
    <%= render :partial => 'table' %>
  </div>
</div>