<%= form_for :machine, :url => update_machine_path(@machine), :method => :post, :html => {:class => "form-validation"} do |f| %>

    <div class="bg-light lter b-b wrapper-md hidden-print">
      <%= render partial: 'shared/form_top_panel', locals: {header: t('machine.edit'), button: t('machine.save')} %>
    </div>

    <%= render :partial => 'layouts/flash' %>

    <div class="wrapper-md">
      <div class="row">

        <div class="col-lg-12">

          <div class="form-group pull-in clearfix">
            <div class="col-sm-6">
              <label><%= I18n.t('machine.name') %></label>
              <input type="text" class="form-control" name="name" required="" value="<%= @machine.name %>">
            </div>

            <div class="col-sm-6">
              <label><%= I18n.t('machine.format') %></label>
              <%= select "machine", "format", MachineFormat.all.collect { |p| [p.name, p.id] }, {selected: @machine.format.id}, {:class => "form-control", name: 'format'} %>
            </div>
          </div>

          <div class="form-group pull-in clearfix">

            <div class="col-sm-4">
              <label><%= I18n.t('machine.efficiency') %></label>
              <input type="text" class="form-control" name="efficiency" required="" value="<%= @machine.efficiency %>">
            </div>

            <div class="col-sm-4">
              <label><%= I18n.t('machine.color_count') %></label>
              <input type="text" class="form-control" name="color_count" required="" value="<%= @machine.color_count %>">
            </div>

            <div class="col-sm-4">
              <label><%= I18n.t('machine.preparation_time') %></label>
              <input type="text" class="form-control" name="preparation_time" required="" value="<%= @machine.preparation_time %>">
            </div>
          </div>

          <div class="form-group pull-in clearfix">
            <div class="col-sm-12">
              <label><%= I18n.t('machine.additional_time') %></label>
              <input type="text" class="form-control" name="additional_time" required="" value="<%= @machine.additional_time %>">
            </div>
          </div>

          <div class="form-group pull-in clearfix">
            <% Machine::Reference.form_prices.keys.map do |index| %>

                <div class="col-sm-6">
                  <label><%= I18n.t('machine.form_price_number') % (index + 1) %></label>
                  <input type="text" class="form-control" name='<%= "form_price_#{index + 1}" %>' required="" value="<%= @machine.form_prices[index] %>">
                </div>

            <% end %>
          </div>

          <div class="form-group pull-in clearfix">
            <% Machine::Reference.prices_per_hour.keys.map do |index| %>

                <div class="col-sm-4">
                  <label><%= I18n.t('machine.price_per_hour_number') % (index + 1) %></label>
                  <input type="text" class="form-control" name='<%= "price_per_hour_#{index + 1}" %>' required="" value="<%= @machine.prices_per_hour[index] %>">
                </div>

            <% end %>
          </div>

          <div class="form-group pull-in clearfix">
            <div class="col-sm-4">
              <label><%= I18n.t('machine.skin') %></label>
              <input type="text" class="form-control" name="skin" required="" value="<%= @machine.skin %>">
            </div>

            <div class="col-sm-4">
              <label><%= I18n.t('machine.max_x') %></label>
              <input type="text" class="form-control" name="max_x" required="" value="<%= @machine.max_x %>">
            </div>

            <div class="col-sm-4">
              <label><%= I18n.t('machine.max_y') %></label>
              <input type="text" class="form-control" name="max_y" required="" value="<%= @machine.max_y %>">
            </div>
          </div>

          <div class="form-group pull-in clearfix">
            <div class="col-sm-4">
              <label><%= I18n.t('machine.scale') %></label>
              <input type="text" class="form-control" name="scale" required="" value="<%= @machine.scale %>">
            </div>

            <div class="col-sm-4">
              <label><%= I18n.t('machine.cross') %></label>
              <input type="text" class="form-control" name="cross" required="" value="<%= @machine.cross %>">
            </div>

            <div class="col-sm-4">
              <label><%= I18n.t('machine.valve') %></label>
              <input type="text" class="form-control" name="valve" required="" value="<%= @machine.valve %>">
            </div>
          </div>

        </div>

      </div>
    </div>
<% end %>