<%= form_for :machine, url: create_machine_path, :method => :post, :html => {:class => "form-validation"} do |f| %>

    <div class="bg-light lter b-b wrapper-md hidden-print">
      <%= render partial: 'shared/form_top_panel', locals: {header: t('machine.new'), button: t('machine.create')} %>
    </div>

    <%= render :partial => 'layouts/flash' %>

    <div class="wrapper-md">
      <div class="row">

        <div class="col-lg-12">

          <div class="form-group pull-in clearfix">
            <div class="col-sm-6">
              <label><%= I18n.t('machine.name') %></label>
              <input type="text" class="form-control" name="name" required="">
            </div>

            <div class="col-sm-6">
              <label><%= I18n.t('machine.format') %></label>
              <%= select "machine", "format", MachineFormat.all.collect { |p| [p.name, p.id] }, {}, {:class => "form-control", name: 'format'} %>
            </div>
          </div>

          <div class="form-group pull-in clearfix">

            <div class="col-sm-4">
              <label><%= I18n.t('machine.efficiency') %></label>
              <input type="text" class="form-control" name="efficiency" required="">
            </div>

            <div class="col-sm-4">
              <label><%= I18n.t('machine.color_count') %></label>
              <input type="text" class="form-control" name="color_count" required="">
            </div>

            <div class="col-sm-4">
              <label><%= I18n.t('machine.preparation_time') %></label>
              <input type="text" class="form-control" name="preparation_time" required="">
            </div>
          </div>

          <div class="form-group pull-in clearfix">
            <div class="col-sm-12">
              <label><%= I18n.t('machine.additional_time') %></label>
              <input type="text" class="form-control" name="additional_time" required="">
            </div>
          </div>

          <div class="form-group pull-in clearfix">
            <% Machine::Reference.form_prices.keys.map do |index| %>

                <div class="col-sm-6">
                  <label><%= I18n.t('machine.form_price_number') % (index + 1) %></label>
                  <input type="text" class="form-control" name='<%= "form_price_#{index + 1}" %>' required="">
                </div>

            <% end %>
          </div>

          <div class="form-group pull-in clearfix">
            <% Machine::Reference.prices_per_hour.keys.map do |index| %>

                <div class="col-sm-4">
                  <label><%= I18n.t('machine.price_per_hour_number') % (index + 1) %></label>
                  <input type="text" class="form-control" name='<%= "price_per_hour_#{index + 1}" %>' required="">
                </div>

            <% end %>
          </div>

          <div class="form-group pull-in clearfix">
            <div class="col-sm-4">
              <label><%= I18n.t('machine.skin') %></label>
              <input type="text" class="form-control" name="skin" required="">
            </div>

            <div class="col-sm-4">
              <label><%= I18n.t('machine.max_x') %></label>
              <input type="text" class="form-control" name="max_x" required="">
            </div>

            <div class="col-sm-4">
              <label><%= I18n.t('machine.max_y') %></label>
              <input type="text" class="form-control" name="max_y" required="">
            </div>
          </div>

          <div class="form-group pull-in clearfix">
            <div class="col-sm-4">
              <label><%= I18n.t('machine.scale') %></label>
              <input type="text" class="form-control" name="scale" required="">
            </div>

            <div class="col-sm-4">
              <label><%= I18n.t('machine.cross') %></label>
              <input type="text" class="form-control" name="cross" required="">
            </div>

            <div class="col-sm-4">
              <label><%= I18n.t('machine.valve') %></label>
              <input type="text" class="form-control" name="valve" required="">
            </div>
          </div>

        </div>
      </div>
    </div>
<% end %>



