<table class="table m-b-none footable-loaded footable default table-striped table-bordered" ui-jq="footable" data-filter="#filter">

  <thead>
  <tr>
    <th data-toggle="true" class="footable-visible footable-sortable footable-first-column">
      <%= t('paper.feature.density') %>
    </th>

    <th data-hide="phone" class="footable-visible footable-sortable">
      <%= t('paper.feature.gor_sm') %>
    </th>

    <th data-hide="phone" class="footable-visible footable-sortable">
      <%= t('paper.feature.ver_sm') %>
    </th>

    <th data-hide="phone" class="footable-visible footable-sortable">
      <%= t('paper.feature.prices_per_1_ton') %>
    </th>

    <th data-hide="phone" class="footable-visible footable-sortable">
      <%= t('paper.feature.currency') %>
    </th>

    <th data-hide="phone" class="footable-visible footable-sortable">
      <%= t('paper.feature.weight_kg_per_1_list') %>
    </th>

    <th data-hide="phone" class="footable-visible footable-sortable">
      <%= t('paper.feature.full_price_per_1_list') %>
    </th>

    <th data-hide="phone" class="footable-visible footable-sortable">
      <%= t('paper.feature.uv_polish_format') %>
    </th>

    <th class="footable-visible footable-sortable footable-last-column" width="50"></th>
  </tr>
  </thead>

  <tbody>

  <% @paper_features.each do |feature| %>

      <tr class="<%= feature.tr_class(@paper.features) %>" style="display: table-row;">

        <td class="footable-visible v-middle footable-first-column">
          <span class="footable-toggle"><%= feature.density %></span>
        </td>

        <td class="footable-visible v-middle">
          <span class="footable-toggle"><%= feature.gor_sm %></span>
        </td>

        <td class="footable-visible v-middle">
          <span class="footable-toggle"><%= feature.ver_sm %></span>
        </td>

        <td class="footable-visible v-middle">
          <span class="footable-toggle"><%= feature.price_per_1_ton %> (<%= t('paper.feature.source_price') %>)</span>
          <br/>
          <span class="footable-toggle"><%= feature.discount_price %> (<%= t('paper.feature.discount_price') %>)</span>
          <br/>
          <span class="footable-toggle"><%= feature.full_price %> (<%= t('paper.feature.full_price') %>)</span>
        </td>

        <td class="footable-visible v-middle">
          <span class="footable-toggle"><%= feature.currency.name %></span>
        </td>

        <td class="footable-visible v-middle">
          <span class="footable-toggle"><%= feature.weight_kg_per_1_list %></span>
        </td>

        <td class="footable-visible v-middle">
          <span class="footable-toggle"><%= feature.price_per_1_list_rus(0) %></span>
        </td>

        <td class="footable-visible v-middle">
          <span class="footable-toggle"><%= feature.uv_polish_format.name %></span>
        </td>

        <td class="footable-visible footable-last-column">

          <div class="btn-group dropdown">
            <button class="btn btn-default btn-bg btn-sm dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
              <span class="dropdown-label"><%= t('menu') %></span>
              <span class="caret"></span>
            </button>
            <ul class="dropdown-menu text-left text-sm pull-right">
              <li><%= feature.edit_button %></li>
              <li><%= feature.clone_button %></li>
              <li><%= feature.cuts_button %></li>
              <li><%= feature.remove_button %></li>
            </ul>
          </div>

        </td>
      </tr>

  <% end %>

  </tbody>

</table>