<div class="bg-light lter b-b wrapper-md hidden-print">
  <%= render partial: 'shared/top_panel', locals: {header: t('paper.feature.list') % @paper.name, button_name: t('paper.feature.new'), button_path: new_feature_path(@paper)} %>
</div>

<%= render :partial => 'layouts/flash' %>

<%= javascript_tag(render partial: 'select', formats: [:js]) %>

<div class="wrapper-md p-b-none">
  <%= select "paper", "paper", Paper.all.collect { |p| [p.name, p.id] }, {selected: @paper.id}, {class: "form-control", id: 'paper'} %>
</div>

<div class="wrapper-md">
  <div class="panel panel-default">
    <%= render :partial => 'table' %>
  </div>
</div>