<%= form_for :product, url: create_product_path, method: :post, html: {class: "form-validation"} do |f| %>

    <div class="bg-light lter b-b wrapper-md hidden-print">
      <%= render partial: 'shared/form_top_panel', locals: {header: t('product.new'), button: t('product.create')} %>
    </div>

    <%= render :partial => 'layouts/flash' %>

    <div class="wrapper-md">
      <div class="row">

        <div class="col-lg-6">

          <div class="form-group">
            <label><%= t('product.name') %></label>
            <input type="text" class="form-control" name="name" required="">
          </div>

        </div>

        <div class="col-lg-6">

          <div class="form-group">
            <label><%= t('product.type') %></label>
            <%= select "type", "type", ProductType.all.collect { |p| [p.name, p.id] }, {}, {:class => "form-control", name: 'type'} %>
          </div>

        </div>

      </div>
    </div>

<% end %>