<%= form_for :calculation, url: manager_create_multiple_path(@calculation), method: :post, html: {class: "form-validation form-horizontal"} do |f| %>

    <div class="bg-light lter b-b wrapper-md hidden-print">
      <%= content_tag(:button, t('multiple.create'), class: ['btn', 'btn-primary', 'pull-right', 'btn-sm', 'm-l-xs'], type: 'submit') %>

      <%= react_component('MultiplePrintRunAddButton', buttonName: t('multiple.add')) %>

      <h1 class="m-n font-thin h3"><%= t('multiple.new') %></h1>
    </div>

    <%= render :partial => 'layouts/flash' %>

    <%= react_component('MultiplePrintRun', print_runs: [@calculation.print_run], labelPrefix: t('multiple.print_run'), buttonName: t('multiple.remove')) %>

<% end %>