<?xml version="1.0"?>
<Workbook xmlns="urn:schemas-microsoft-com:office:spreadsheet"
          xmlns:o="urn:schemas-microsoft-com:office:office"
          xmlns:x="urn:schemas-microsoft-com:office:excel"
          xmlns:ss="urn:schemas-microsoft-com:office:spreadsheet"
          xmlns:html="http://www.w3.org/TR/REC-html40">

  <Styles>
    <Style ss:ID="Default" ss:Name="Normal">
        <Alignment ss:Vertical="Bottom" />
        <Borders/>
        <Font />
        <Interior />
        <NumberFormat />
        <Protection />
    </Style>

    <Style ss:ID="top_header">
        <Font ss:FontName="Calibri" x:Family="Swiss" ss:Size="14" ss:Bold="1"/>
        <Interior ss:Color="#27c24c" ss:Pattern="Solid"/>
        <Borders>
         <Border ss:Position="Bottom" ss:LineStyle="Continuous" ss:Weight="1"/>
        <Border ss:Position="Left" ss:LineStyle="Continuous" ss:Weight="1"/>
        <Border ss:Position="Right" ss:LineStyle="Continuous" ss:Weight="1"/>
        <Border ss:Position="Top" ss:LineStyle="Continuous" ss:Weight="1"/>
        </Borders>
    </Style>

    <Style ss:ID="data">
        <Font ss:FontName="Calibri" x:Family="Swiss" ss:Size="14" ss:Bold="0"/>
        <Interior ss:Color="#ffffff" ss:Pattern="Solid"/>
        <Borders>
         <Border ss:Position="Bottom" ss:LineStyle="Continuous" ss:Weight="1"/>
        <Border ss:Position="Left" ss:LineStyle="Continuous" ss:Weight="1"/>
        <Border ss:Position="Right" ss:LineStyle="Continuous" ss:Weight="1"/>
        <Border ss:Position="Top" ss:LineStyle="Continuous" ss:Weight="1"/>
        </Borders>
    </Style>

    <Style ss:ID="left_column">
        <Font ss:FontName="Calibri" x:Family="Swiss" ss:Size="14" ss:Bold="1"/>
        <Interior ss:Color="#23b7e5" ss:Pattern="Solid"/>
        <Borders>
         <Border ss:Position="Bottom" ss:LineStyle="Continuous" ss:Weight="1"/>
        <Border ss:Position="Left" ss:LineStyle="Continuous" ss:Weight="1"/>
        <Border ss:Position="Right" ss:LineStyle="Continuous" ss:Weight="1"/>
        <Border ss:Position="Top" ss:LineStyle="Continuous" ss:Weight="1"/>
        </Borders>
    </Style>

  </Styles>

  <Worksheet ss:Name="Итого">
    <Table>

      <% 5.times do %>
          <Column ss:AutoFitWidth="0" ss:Width="200"/>
      <% end %>

      <Row>
        <Cell ss:StyleID="top_header"><Data ss:Type="String">Тираж</Data></Cell>
        <Cell ss:StyleID="top_header"><Data ss:Type="String">Стоимость тиража с НДС</Data></Cell>
        <Cell ss:StyleID="top_header"><Data ss:Type="String">Стоимость тиража без НДС</Data></Cell>
        <Cell ss:StyleID="top_header"><Data ss:Type="String">Стоимость за единицу c НДС</Data></Cell>
        <Cell ss:StyleID="top_header"><Data ss:Type="String">Стоимость за единицу без НДС</Data></Cell>
      </Row>

      <% @calculations.each do |calculation| %>
        <Row>
            <Cell ss:StyleID="data"><Data ss:Type="Number"><%= calculation[:calculation].print_run %></Data></Cell>
            <Cell ss:StyleID="data"><Data ss:Type="Number"><%= calculation[:components].to_a.sum(&:print_run_price) %></Data></Cell>
            <Cell ss:StyleID="data"><Data ss:Type="Number"><%= calculation[:components].to_a.sum(&:print_run_price_without_nds) %></Data></Cell>
            <Cell ss:StyleID="data"><Data ss:Type="Number"><%= calculation[:components].to_a.sum(&:price_per_unit) %></Data></Cell>
            <Cell ss:StyleID="data"><Data ss:Type="Number"><%= calculation[:components].to_a.sum(&:price_per_unit_without_nds) %></Data></Cell>
        </Row>
      <% end %>

    </Table>
  </Worksheet>

  <% @calculations.each do |calculation| %>
      <Worksheet ss:Name="Тираж - <%= calculation[:calculation].print_run %>">
        <Table>

          <Column ss:AutoFitWidth="0" ss:Width="400"/>
          <% calculation[:components].each do |component| %>
              <Column ss:AutoFitWidth="0" ss:Width="130"/>
          <% end %>
          <Column ss:AutoFitWidth="0" ss:Width="130"/>

          <Row>
            <Cell ss:StyleID="data"><Data ss:Type="String"></Data></Cell>
            <% calculation[:components].each do |component| %>
                <Cell ss:StyleID="top_header"><Data ss:Type="String"><%= component.name %></Data></Cell>
            <% end %>
            <Cell ss:StyleID="top_header"><Data ss:Type="String">Итого</Data></Cell>
          </Row>

          <Row>
            <Cell ss:StyleID="left_column"><Data ss:Type="String"><%= t('result.product_name') %></Data></Cell>
            <% calculation[:components].each do |component| %>
                <Cell ss:StyleID="data"><Data ss:Type="String"></Data></Cell>
            <% end %>
            <Cell ss:StyleID="data"><Data ss:Type="String"><%= calculation[:calculation].product.name %></Data></Cell>
          </Row>

          <Row>
            <Cell ss:StyleID="left_column"><Data ss:Type="String"><%= t('result.product_size') %></Data></Cell>
            <% calculation[:components].each do |component| %>
                <Cell ss:StyleID="data"><Data ss:Type="String"><%= component.size %></Data></Cell>
            <% end %>
            <Cell ss:StyleID="data"><Data ss:Type="String"></Data></Cell>
          </Row>

          <Row>
            <Cell ss:StyleID="left_column"><Data ss:Type="String"><%= t('result.print_run') %></Data></Cell>
            <% calculation[:components].each do |component| %>
                <Cell ss:StyleID="data"><Data ss:Type="String"></Data></Cell>
            <% end %>
            <Cell ss:StyleID="data"><Data ss:Type="Number"><%= calculation[:calculation].print_run %></Data></Cell>
          </Row>

          <Row>
            <Cell ss:StyleID="left_column"><Data ss:Type="String"><%= t('result.paper') %></Data></Cell>
            <% calculation[:components].each do |component| %>
                <Cell ss:StyleID="data"><Data ss:Type="String"><%= component.paper %></Data></Cell>
            <% end %>
            <Cell ss:StyleID="data"><Data ss:Type="String"></Data></Cell>
          </Row>

          <Row>
            <Cell ss:StyleID="left_column"><Data ss:Type="String"><%= t('result.imposition') %></Data></Cell>
            <% calculation[:components].each do |component| %>
                <Cell ss:StyleID="data"><Data ss:Type="Number"><%= component.imposition %></Data></Cell>
            <% end %>
            <Cell ss:StyleID="data"><Data ss:Type="String"></Data></Cell>
          </Row>

          <Row>
            <Cell ss:StyleID="left_column"><Data ss:Type="String"><%= t('result.paper_expense') %></Data></Cell>
            <% calculation[:components].each do |component| %>
                <Cell ss:StyleID="data"><Data ss:Type="Number"><%= component.paper_expense %></Data></Cell>
            <% end %>
            <Cell ss:StyleID="data"><Data ss:Type="String"></Data></Cell>
          </Row>

          <Row>
            <Cell ss:StyleID="left_column"><Data ss:Type="String"><%= t('result.paper_price') %></Data></Cell>
            <% calculation[:components].each do |component| %>
                <Cell ss:StyleID="data"><Data ss:Type="Number"><%= component.paper_price %></Data></Cell>
            <% end %>
            <Cell ss:StyleID="data"><Data ss:Type="String"></Data></Cell>
          </Row>

          <Row>
            <Cell ss:StyleID="left_column"><Data ss:Type="String"><%= t('result.front_colors') %></Data></Cell>
            <% calculation[:components].each do |component| %>
                <Cell ss:StyleID="data"><Data ss:Type="String"><%= component.front_colors %></Data></Cell>
            <% end %>
            <Cell ss:StyleID="data"><Data ss:Type="String"></Data></Cell>
          </Row>

          <Row>
            <Cell ss:StyleID="left_column"><Data ss:Type="String"><%= t('result.back_colors') %></Data></Cell>
            <% calculation[:components].each do |component| %>
                <Cell ss:StyleID="data"><Data ss:Type="String"><%= component.back_colors %></Data></Cell>
            <% end %>
            <Cell ss:StyleID="data"><Data ss:Type="String"></Data></Cell>
          </Row>

          <Row>
            <Cell ss:StyleID="left_column"><Data ss:Type="String"><%= t('result.material_price') %></Data></Cell>
            <% calculation[:components].each do |component| %>
                <Cell ss:StyleID="data"><Data ss:Type="String"></Data></Cell>
            <% end %>
            <Cell ss:StyleID="data"><Data ss:Type="Number"><%= calculation[:components].to_a.sum(&:material_price) %></Data></Cell>
          </Row>

          <Row>
            <Cell ss:StyleID="left_column"><Data ss:Type="String"><%= t('result.form_price') %></Data></Cell>
            <% calculation[:components].each do |component| %>
                <Cell ss:StyleID="data"><Data ss:Type="Number"><%= component.form_price %></Data></Cell>
            <% end %>
            <Cell ss:StyleID="data"><Data ss:Type="Number"><%= calculation[:components].to_a.sum(&:form_price) %></Data></Cell>
          </Row>

          <Row>
            <Cell ss:StyleID="left_column"><Data ss:Type="String"><%= t('result.print_time') %></Data></Cell>
            <% calculation[:components].each do |component| %>
                <Cell ss:StyleID="data"><Data ss:Type="Number"><%= component.print_time %></Data></Cell>
            <% end %>
            <Cell ss:StyleID="data"><Data ss:Type="Number"><%= calculation[:components].to_a.sum(&:print_time) %></Data></Cell>
          </Row>

          <Row>
            <Cell ss:StyleID="left_column"><Data ss:Type="String"><%= t('result.print_price') %></Data></Cell>
            <% calculation[:components].each do |component| %>
                <Cell ss:StyleID="data"><Data ss:Type="Number"><%= component.print_price %></Data></Cell>
            <% end %>
            <Cell ss:StyleID="data"><Data ss:Type="Number"><%= calculation[:components].to_a.sum(&:print_price) %></Data></Cell>
          </Row>

          <Row>
            <Cell ss:StyleID="left_column"><Data ss:Type="String"><%= t('result.machine') %></Data></Cell>
            <% calculation[:components].each do |component| %>
                <Cell ss:StyleID="data"><Data ss:Type="String"><%= component.machine %></Data></Cell>
            <% end %>
            <Cell ss:StyleID="data"><Data ss:Type="String"></Data></Cell>
          </Row>

          <Row>
            <Cell ss:StyleID="left_column"><Data ss:Type="String"><%= t('result.print_run_weight') %></Data></Cell>
            <% calculation[:components].each do |component| %>
                <Cell ss:StyleID="data"><Data ss:Type="Number"><%= component.print_run_weight %></Data></Cell>
            <% end %>
            <Cell ss:StyleID="data"><Data ss:Type="Number"><%= calculation[:components].to_a.sum(&:print_run_weight) %></Data></Cell>
          </Row>

          <Row>
            <Cell ss:StyleID="left_column"><Data ss:Type="String"><%= t('result.print_run_price') %></Data></Cell>
            <% calculation[:components].each do |component| %>
                <Cell ss:StyleID="data"><Data ss:Type="String"></Data></Cell>
            <% end %>
            <Cell ss:StyleID="data"><Data ss:Type="Number"><%= calculation[:components].to_a.sum(&:print_run_price) %></Data></Cell>
          </Row>

          <Row>
            <Cell ss:StyleID="left_column"><Data ss:Type="String"><%= t('result.print_run_price_without_nds') %></Data></Cell>
            <% calculation[:components].each do |component| %>
                <Cell ss:StyleID="data"><Data ss:Type="String"></Data></Cell>
            <% end %>
            <Cell ss:StyleID="data"><Data ss:Type="Number"><%= calculation[:components].to_a.sum(&:print_run_price_without_nds) %></Data></Cell>
          </Row>

          <Row>
            <Cell ss:StyleID="left_column"><Data ss:Type="String"><%= t('result.price_per_unit') %></Data></Cell>
            <% calculation[:components].each do |component| %>
                <Cell ss:StyleID="data"><Data ss:Type="Number"><%= component.price_per_unit %></Data></Cell>
            <% end %>
            <Cell ss:StyleID="data"><Data ss:Type="String"></Data></Cell>
          </Row>

          <Row>
            <Cell ss:StyleID="left_column"><Data ss:Type="String"><%= t('result.price_per_unit_without_nds') %></Data></Cell>
            <% calculation[:components].each do |component| %>
                <Cell ss:StyleID="data"><Data ss:Type="Number"><%= component.price_per_unit_without_nds %></Data></Cell>
            <% end %>
            <Cell ss:StyleID="data"><Data ss:Type="String"></Data></Cell>
          </Row>

        </Table>
      </Worksheet>
  <% end %>

</Workbook>