<%= form_for :branch, url: manager_update_branch_path(@branch), method: :post, html: {class: "form-validation"} do |f| %>

    <div class="bg-light lter b-b wrapper-md hidden-print">
      <%= render partial: 'shared/form_top_panel', locals: {header: t('branch.edit'), button: t('branch.save')} %>
    </div>

    <%= render :partial => 'layouts/flash' %>

    <div class="wrapper-md">
      <div class="row">

        <div class="col-lg-12">

          <div class="form-group">
            <label><%= t('branch.name') %></label>
            <input type="text" class="form-control" name="name" required="" value="<%= @branch.name %>">
          </div>

          <div class="form-group">
            <label><%= t('branch.phone') %></label>
            <input type="text" class="form-control" name="phone" value="<%= @branch.phone %>">
          </div>

          <div class="form-group">
            <label><%= t('branch.email') %></label>
            <input type="text" class="form-control" name="email" value="<%= @branch.email %>">
          </div>

          <div class="form-group">
            <label><%= t('branch.contract') %></label>
            <input type="text" class="form-control" name="contract" value="<%= @branch.contract %>">
          </div>

          <div class="form-group">
            <label><%= t('branch.payer') %></label>
            <input type="text" class="form-control" name="payer" value="<%= @branch.payer %>">
          </div>

          <div class="form-group">
            <label><%= t('branch.discount') %></label>
            <%= select "discount", "discount", Discount.all.collect { |p| [p.name, p.id] }, {selected: @branch.discount.id}, {class: "form-control", name: 'discount'} %>
          </div>

          <div class="form-group">
            <label><%= t('branch.shipping_address') %></label>
            <input type="text" class="form-control" name="shipping_address" value="<%= @branch.shipping_address %>">
          </div>

          <div class="form-group">
            <label><%= t('branch.description') %></label>
            <textarea class="form-control" rows="6" placeholder="<%= t('branch.description') %>" name="description"><%= @branch.description %></textarea>
          </div>

        </div>

      </div>
    </div>
<% end %>