<%= form_for :discount, url: update_discount_path(@discount), :method => :post, :html => {:class => "form-validation"} do |f| %>

    <div class="bg-light lter b-b wrapper-md hidden-print">
      <%= render partial: 'shared/form_top_panel', locals: {header: t('discount.edit'), button: t('discount.save')} %>
    </div>

    <%= render :partial => 'layouts/flash' %>

    <div class="wrapper-md">
      <div class="row">

        <div class="col-lg-12">

          <div class="form-group">
            <label><%= t('discount.name') %></label>
            <input type="text" class="form-control" name="name" required="" value="<%= @discount.name %>">
          </div>

          <div class="form-group">
            <label><%= t('discount.value') %></label>
            <input type="text" class="form-control" name="value" required="" value="<%= @discount.value %>">
          </div>

        </div>

      </div>
    </div>
<% end %>