<%= form_for :product, :url => create_discount_path, :method => :post, :html => {:class => "form-validation"} do |f| %>

    <div class="bg-light lter b-b wrapper-md hidden-print">
      <%= render partial: 'shared/form_top_panel', locals: {header: t('discount.new'), button: t('discount.create')} %>
    </div>

    <%= render :partial => 'layouts/flash' %>

    <div class="wrapper-md">
      <div class="row">

        <div class="col-lg-12">

          <div class="form-group">
            <label><%= t('discount.name') %></label>
            <input type="text" class="form-control" name="name" required="">
          </div>

          <div class="form-group">
            <label><%= t('discount.value') %></label>
            <input type="text" class="form-control" name="value" required="">
          </div>

        </div>
      </div>
    </div>
<% end %>