<%= react_component('ManagerCalculation',
                    {
                            clients: current_user.clients.map { |c| {id: c.id, name: c.fio} },
                            extended_cuts: [['Не использовать', false], ['Использовать', true]].map { |c| {id: c.last, name: c.first} },
                            service_margins: [['Не использовать', false], ['Использовать', true]].map { |c| {id: c.last, name: c.first} },
                            products: Product.all.map { |p| {id: p.id, name: p.name, many_page: p.type.many_page?, slashed: p.slashed} },
                            binding_types: BindingType.all.map { |c| {id: c.id, name: c.name} },
                            types: CoverWorkType.all.map { |c| {id: c.id, name: c.name} },
                            url: manager_api_layout_path,
                            create_url: manager_create_calculation_path,
                            papers: Paper.with_features.map { |p| {id: p.id, name: p.name, densities: p.features_with_cuts.map { |f| f.density }.uniq.sort} },
                            cmyk_colors: CmykColor.all.map { |c| {id: c.id, name: c.value} },
                            pantone_colors: PantoneColor.all.map { |c| {id: c.id, name: c.value} },
                            polishes: Polish.all.map { |c| {id: c.id, name: c.name} },
                            uv_polish_types: UvPolishType.all.map { |t| {id: t.id, name: t.name} },
                            uv_polish_counts: UvPolishCount.all.map { |t| {id: t.id, name: t.name} }
                    }) %>
