<%= form_for :cut, url: update_cut_path(@paper_cut), :method => :post, :html => {:class => "form-validation"} do |f| %>

    <div class="bg-light lter b-b wrapper-md hidden-print">
      <%= render partial: 'shared/form_top_panel', locals: {header: t('paper.feature.cut.edit'), button: t('paper.feature.cut.save')} %>
    </div>

    <%= render :partial => 'layouts/flash' %>

    <div class="wrapper-md">
      <div class="row">

        <div class="col-lg-12">

          <div class="form-group pull-in clearfix">

            <div class="col-sm-4">
              <label><%= I18n.t('paper.feature.cut.gor_mm') %></label>
              <input type="text" class="form-control" name="gor_mm" required="" value="<%= @paper_cut.gor_mm %>">
            </div>

            <div class="col-sm-4">
              <label><%= I18n.t('paper.feature.cut.ver_mm') %></label>
              <input type="text" class="form-control" name="ver_mm" required="" value="<%= @paper_cut.ver_mm %>">
            </div>

            <div class="col-sm-4">
              <label><%= I18n.t('paper.feature.cut.chunk_count') %></label>
              <input type="text" class="form-control" name="chunk_count" required="" value="<%= @paper_cut.chunk_count %>">
            </div>

          </div>

          <div class="form-group pull-in clearfix">
            <div class="col-sm-6">
              <label><%= I18n.t('paper.feature.cut.machine') %></label>
              <%= select "cut", "machine", Machine.all.collect { |p| [p.name, p.id] }, {selected: @paper_cut.machine.id}, {:class => "form-control", name: 'machine'} %>
            </div>

            <div class="col-sm-6">
              <label><%= I18n.t('paper.feature.cut.extended') %></label>
              <%= select("cut", "extended", [['Да', true], ['Нет', false]], {selected: @paper_cut.extended }, {class: "form-control", name: :extended}) %>
            </div>
          </div>

        </div>
      </div>
    </div>
<% end %>