<%= form_for :material, url: update_material_path(@material), :method => :post, :html => {:class => "form-validation"} do |f| %>

    <div class="bg-light lter b-b wrapper-md hidden-print">
      <%= render partial: 'shared/form_top_panel', locals: {header: t('material.edit'), button: t('material.save')} %>
    </div>

    <%= render :partial => 'layouts/flash' %>

    <div class="wrapper-md">
      <div class="row">

        <div class="col-lg-12">

          <div class="form-group">
            <label><%= I18n.t('material.name') %></label>
            <input type="text" class="form-control" name="name" required="" value="<%= @material.name %>">
          </div>

          <div class="form-group">
            <label><%= I18n.t('material.price') %></label>
            <input type="text" class="form-control" name="price" required="" value="<%= @material.price %>">
          </div>

        </div>

      </div>
    </div>
<% end %>