<table class="table m-b-none footable-loaded footable default table-striped table-bordered" ui-jq="footable" data-filter="#filter">

  <thead>
  <tr>
    <th data-toggle="true" class="footable-visible footable-first-column footable-sortable">
      <%= t('manager.login') %>
    </th>

    <th data-hide="phone" class="footable-visible footable-sortable">
      <%= t('manager.fio') %>
    </th>

    <th data-hide="phone" class="footable-visible footable-sortable">
      <%= t('manager.clients_count') %>
    </th>

    <th data-hide="phone" class="footable-visible footable-sortable">
      <%= t('manager.calculations_count') %>
    </th>

    <th data-hide="phone" class="footable-visible footable-sortable">
      <%= t('manager.status') %>
    </th>

    <th data-hide="phone" class="footable-visible footable-sortable">
      <%= t('manager.substitute') %>
    </th>

    <th data-hide="phone" class="footable-visible footable-last-column" width="50"></th>
  </tr>
  </thead>

  <tbody>

  <% @managers.each do |manager| %>

      <tr class="<%= manager.tr_class(@managers) %>" style="display: table-row;">

        <td class="footable-visible footable-first-column v-middle">
          <span class="footable-toggle"><%= manager.email %></span>
        </td>

        <td class="footable-visible v-middle">
          <span class="footable-toggle"><%= manager.fio %></span>
        </td>

        <td class="footable-visible v-middle">
          <span class="footable-toggle"><%= manager.clients.count %></span>
        </td>

        <td class="footable-visible v-middle">
          <span class="footable-toggle"><%= manager.calculations.count %></span>
        </td>

        <td class="footable-visible v-middle">
          <%= manager.status %>
        </td>

        <td class="footable-visible v-middle">
          <%= manager.substitute %>
        </td>

        <td class="footable-visible">

          <div class="btn-group dropdown">
            <button class="btn btn-default btn-bg btn-sm dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
              <span class="dropdown-label"><%= t('menu') %></span>
              <span class="caret"></span>
            </button>
            <ul class="dropdown-menu text-left text-sm pull-right">
              <li><%= manager.edit_button %></li>
              <li><%= manager.block_button %></li>
              <li><%= manager.remove_button %></li>
              <li class="divider"></li>
              <li><%= manager.switch_button %></li>
            </ul>
          </div>

        </td>
      </tr>

  <% end %>

  </tbody>

</table>