<div class="bg-light lter b-b wrapper-md hidden-print">
  <%= render partial: 'shared/top_panel', locals: {header: t('client.list'), button_name: t('client.new'), button_path: manager_new_client_path} %>
</div>

<%= react_component('FlashMessage') %>

<div class="wrapper-md">
  <div class="panel panel-default">
    <%= render :partial => 'table' %>
  </div>
</div>