<table class="table m-b-none footable-loaded footable default table-striped table-bordered" ui-jq="footable" data-filter="#filter">
  <thead>

  <tr>

    <th data-toggle="true">
      <%= t('client.fio') %>
    </th>

    <th class="footable-visible">
      <%= t('calculation.product_name') %>
    </th>

    <th class="footable-visible">
      <%= t('calculation.name') %>
    </th>

    <th class="footable-visible">
      <%= t('calculation.created_at') %>
    </th>

    <th class="footable-visible">
      <%= t('calculation.print_run') %>
    </th>

    <th class="footable-visible">
      <%= t('calculation.print_run_price') %>
    </th>

    <th class="footable-visible">
      <%= t('calculation.paper_expense') %>
    </th>

    <th width="50" data-sort-ignore="true"></th>

  </tr>

  <!--<tr>-->

  <!--<td>-->
  <!--&lt;!&ndash;<input placeholder="поиск по клиенту" class="form-control input-sm" type="search">&ndash;&gt;-->
  <!--<%# select "client", "client", Client.all.collect { |p| [p.name, p.id] }, {prompt: 'Любой клиент'}, {:class => "form-control input-sm", name: 'client'} %>-->
  <!--</td>-->

  <!--<td>-->
  <!--<input placeholder="поиск по продукту" class="form-control input-sm" type="search">-->
  <!--</td>-->

  <!--<td colspan="3">-->
  <!--<input placeholder="поиск" class="form-control input-sm" type="search">-->
  <!--</td>-->
  <!--</tr>-->

  </thead>

  <tbody>

  <% @calculations.each do |calculation| %>

      <tr>

        <td class="footable-visible footable-first-column v-middle">
          <span class="footable-toggle"><%= calculation.client.fio %></span>
        </td>

        <td class="footable-visible v-middle">
          <span class="footable-toggle"><%= calculation.product.name %></span>
        </td>

        <td class="footable-visible v-middle">
          <span class="footable-toggle"><%= calculation.name %></span>
        </td>

        <td class="footable-visible v-middle">
          <span class="footable-toggle"><%= calculation.created_at %></span>
        </td>

        <td class="footable-visible v-middle">
          <span class="footable-toggle"><%= calculation.print_run %></span>
        </td>

        <td class="footable-visible v-middle">
          <span class="footable-toggle"><%= calculation.print_run_price %></span>
        </td>

        <td class="footable-visible v-middle">
          <span class="footable-toggle"><%= calculation.paper_expense %></span>
        </td>

        <td class="footable-visible footable-last-column">
          <%= calculation.edit_button %>
        </td>

      </tr>

  <% end %>

  </tbody>

  <tfoot class="hide-if-no-paging">
  <tr>
    <td colspan="8" class="text-center">
      <ul class="pagination"></ul>
    </td>
  </tr>
  </tfoot>

</table>