<div class="bg-light lter b-b wrapper-md hidden-print">
  <%= render :partial => 'top_panel' %>
</div>

<%= render :partial => 'layouts/flash' %>

<div class="wrapper-md">

  <!--<form action="#" class="m-b-md">-->
  <!--<div class="input-group">-->
  <!--<input type="text" class="form-control input-lg" placeholder="Введите текст для поиска" value="">-->
  <!--<span class="input-group-btn">-->
  <!--<button class="btn btn-lg btn-default" type="button">Искать</button>-->
  <!--</span>-->
  <!--</div>-->
  <!--</form>-->

  <div class="panel panel-default">

    <!--<div class="panel-heading">-->
    <!--<%# t('calculation.list') %>-->
    <!--</div>-->

    <%= render :partial => 'table' %>
  </div>

</div>

