<table class="table m-b-none footable-loaded footable default table-striped table-bordered" ui-jq="footable" data-filter="#filter">

  <thead>
  <tr>
    <th data-toggle="true" class="footable-visible footable-sortable footable-first-column">
      <%= t('paper.name') %>
    </th>

    <th data-hide="phone" class="footable-visible footable-sortable">
      <%= t('paper.type') %>
    </th>

    <th data-hide="phone" class="footable-visible footable-sortable">
      <%= t('paper.producer') %>
    </th>

    <th data-hide="phone" class="footable-visible footable-sortable footable-last-column">
      <%= t('paper.country') %>
    </th>

    <th width="50"></th>
  </tr>
  </thead>

  <tbody>

  <% @papers.each do |paper| %>

      <tr class="<%= paper.tr_class(@papers) %>" style="display: table-row;">

        <td class="footable-visible v-middle footable-first-column">
          <span class="footable-toggle"><%= paper.name %></span>
        </td>

        <td class="footable-visible v-middle">
          <span class="footable-toggle"><%= paper.type.name %></span>
        </td>

        <td class="footable-visible v-middle">
          <span class="footable-toggle"><%= paper.producer.name %></span>
        </td>

        <td class="footable-visible v-middle">
          <span class="footable-toggle"><%= paper.country.name %></span>
        </td>

        <td class="footable-visible footable-last-column">

          <div class="btn-group dropdown">
            <button class="btn btn-default btn-bg btn-sm dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
              <span class="dropdown-label"><%= t('menu') %></span>
              <span class="caret"></span>
            </button>
            <ul class="dropdown-menu text-left text-sm pull-right">
              <li><%= paper.edit_button %></li>
              <li><%= paper.features_button %></li>
              <li><%= paper.remove_button %></li>
            </ul>
          </div>

        </td>
      </tr>

  <% end %>

  </tbody>

</table>