<%= form_for :currency, :url => update_currency_path(@currency), :method => :post, :html => {:class => "form-validation"} do |f| %>

    <div class="bg-light lter b-b wrapper-md hidden-print">
      <%= render partial: 'shared/form_top_panel', locals: {header: t('currency.edit_currency') % @currency.name, button: t('currency.save')} %>
    </div>

    <%= render :partial => 'layouts/flash' %>

    <div class="wrapper-md">
      <div class="row">

        <div class="col-lg-12">

          <% Currency::EXCHANGE_RATE_COUNT.times do |index| %>
              <div class="form-group">
                <label><%= t('currency.exchange_rate_number') % (index + 1) %></label>
                <input type="text" class="form-control" name='<%= "exchange_rate_#{index}" %>' required="" value="<%= @currency.exchange_rates[index] %>">
              </div>
          <% end %>

        </div>

      </div>
    </div>
<% end %>