<!-- header -->
<header id="header" class="app-header navbar" role="menu">
  <!-- navbar header -->
  <div class="navbar-header bg-dark">
    <!-- brand -->
    <a href="#/" class="navbar-brand text-lt">
      <span class="hidden-folded m-l-xs"><%= t('brand') %></span>
    </a>
    <!-- / brand -->
  </div>
  <!-- / navbar header -->

  <!-- navbar collapse -->
  <div class="collapse pos-rlt navbar-collapse box-shadow bg-white-only">

    <!-- link and dropdown -->
    <ul class="nav navbar-nav hidden-sm">
      <li>
        <a class="navbar-brand" style="padding-left:7px;" href="#">
          <%= t('Administrator') %>
        </a>
      </li>
    </ul>

    <!-- nabar right -->
    <ul class="nav navbar-nav navbar-right">
      <li>
        <%= link_to t('Exit'), destroy_user_session_path, :method => :delete %>
      </li>
    </ul>
    <!-- / navbar right -->

  </div>
  <!-- / navbar collapse -->
</header>
<!-- / header -->

<!-- aside -->
<aside id="aside" class="app-aside hidden-xs bg-dark">
  <div class="aside-wrap">
    <div class="navi-wrap">
      <!-- nav -->
      <nav ui-nav class="navi clearfix">
        <ul class="nav">

          <li class="hidden-folded padder m-t m-b-sm text-muted text-xs">
            <span>Управление</span>
          </li>
          <li>
            <%= link_to content_tag(:span, t('manager.list')), managers_path %>
          </li>

          <li class="line dk hidden-folded"></li>

          <li class="hidden-folded padder m-t m-b-sm text-muted text-xs">
            <span>Справочники</span>
          </li>

          <li>
            <%= link_to content_tag(:span, t('client.list')), clients_path %>
          </li>
          <li>
            <%= link_to content_tag(:span, t('paper.list')), papers_path %>
          </li>
          <li>
            <%= link_to content_tag(:span, t('machine.list')), machines_path %>
          </li>
          <li>
            <%= link_to content_tag(:span, t('material.list')), materials_path %>
          </li>
          <li>
            <%= link_to content_tag(:span, t('cover_work_type.list')), cover_work_types_path %>
          </li>
          <li>
            <%= link_to content_tag(:span, t('currency.list')), currencies_path %>
          </li>
          <li>
            <%= link_to content_tag(:span, t('product.list')), products_path %>
          </li>
          <li>
            <%= link_to content_tag(:span, t('additional.list')), additionals_path %>
          </li>
          <li>
            <%= link_to content_tag(:span, t('discount.list')), discounts_path %>
          </li>
          <li>
            <%= link_to content_tag(:span, t('product_padding.list')), product_paddings_path %>
          </li>
          <li>
            <%= link_to content_tag(:span, t('uv_polish_price.list')), uv_polish_prices_path %>
          </li>
        </ul>
      </nav>
      <!-- nav -->

    </div>
  </div>
</aside>
<!-- / aside -->