<%= form_for :feature, url: create_feature_path(@paper_feature.paper), :method => :post, :html => {:class => "form-validation"} do |f| %>

    <div class="bg-light lter b-b wrapper-md hidden-print">
      <%= render partial: 'shared/form_top_panel', locals: {header: t('paper.feature.clone'), button: t('paper.feature.create')} %>
    </div>

    <%= render :partial => 'layouts/flash' %>

    <div class="wrapper-md">
      <div class="row">

        <div class="col-lg-12">

          <div class="form-group pull-in clearfix">

            <div class="col-sm-4">
              <label><%= I18n.t('paper.feature.density') %></label>
              <input type="text" class="form-control" name="density" required="" value="<%= @paper_feature.density %>">
            </div>

            <div class="col-sm-4">
              <label><%= I18n.t('paper.feature.source_price_per_1_ton') %></label>
              <input type="text" class="form-control" name="price_per_1_ton" required="" value="<%= @paper_feature.price_per_1_ton %>">
            </div>

            <div class="col-sm-4">
              <label><%= I18n.t('paper.feature.currency') %></label>
              <%= select "currency", "currency", Currency.all.collect { |p| [p.name, p.id] }, {selected: @paper_feature.currency.id}, {:class => "form-control", name: 'currency'} %>
            </div>
          </div>

          <div class="form-group pull-in clearfix">
            <div class="col-sm-4">
              <label><%= I18n.t('paper.feature.gor_sm') %></label>
              <input type="text" class="form-control" name="gor_sm" required="" value="<%= @paper_feature.gor_sm %>">
            </div>

            <div class="col-sm-4">
              <label><%= I18n.t('paper.feature.ver_sm') %></label>
              <input type="text" class="form-control" name="ver_sm" required="" value="<%= @paper_feature.ver_sm %>">
            </div>

            <div class="col-sm-4">
              <label><%= I18n.t('paper.feature.uv_polish_format') %></label>
              <%= select "uv_polish_format", "uv_polish_format", UvPolishFormat.all.collect { |p| [p.name, p.id] }, {selected: @paper_feature.uv_polish_format.id}, {:class => "form-control", name: 'uv_polish_format'} %>
            </div>

          </div>

        </div>

      </div>
    </div>
<% end %>