<table class="table m-b-none footable-loaded footable default table-striped table-bordered" ui-jq="footable" data-filter="#filter">

  <thead>
  <tr>

    <th data-hide="phone" class="footable-visible footable-sortable">
      <%= t('specification.number') %>
    </th>

    <th data-hide="phone" class="footable-visible footable-sortable">
      <%= t('specification.date') %>
    </th>

    <th data-hide="phone" class="footable-visible footable-sortable">
      <%= t('specification.document') %>
    </th>

    <th width="50"></th>

  </tr>
  </thead>

  <tbody>

  <% @specifications.each do |specification| %>

      <tr class="<%= specification.tr_class(@specifications) %>" style="display: table-row;">

        <td class="footable-visible footable-first-column v-middle">
          <span class="footable-toggle"><%= specification.number %></span>
        </td>

        <td class="footable-visible v-middle">
          <span class="footable-toggle"><%= specification.date %></span>
        </td>

        <td class="footable-visible v-middle">
          <span class="footable-toggle"><%= specification.link_to_file %></span>
        </td>

        <td class="footable-visible footable-last-column v-middle">

          <div class="btn-group dropdown">
            <button class="btn btn-default btn-bg btn-sm dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
              <span class="dropdown-label"><%= t('menu') %></span>
              <span class="caret"></span>
            </button>
            <ul class="dropdown-menu text-left text-sm pull-right">
              <li><%= specification.edit_button %></li>
            </ul>
          </div>

        </td>

      </tr>

  <% end %>

  </tbody>

</table>