<table class="table m-b-none footable-loaded footable default table-striped table-bordered" ui-jq="footable" data-filter="#filter">

  <thead>
  <tr>
    <th data-toggle="true" class="footable-visible footable-sortable footable-first-column">
      <%= t('uv_polish_price.type') %>
    </th>

    <th data-hide="phone" class="footable-visible footable-sortable footable-last-column">
      <%= t('uv_polish_price.format') %>
    </th>

    <th data-hide="phone" class="footable-visible footable-sortable footable-last-column">
      <%= t('uv_polish_price.print_price') %>
    </th>

    <th data-hide="phone" class="footable-visible footable-sortable footable-last-column">
      <%= t('uv_polish_price.preparation_price') %>
    </th>

    <th width="50"></th>
  </tr>
  </thead>

  <tbody>

  <% @uv_polish_prices.each do |uv_polish_price| %>

      <tr class="<%= uv_polish_price.tr_class(@uv_polish_prices) %>" style="display: table-row;">

        <td class="footable-visible footable-first-column v-middle">
          <span class="footable-toggle"><%= uv_polish_price.type.name %></span>
        </td>

        <td class="footable-visible v-middle">
          <span class="footable-toggle"><%= uv_polish_price.format.name %></span>
        </td>

        <td class="footable-visible v-middle">
          <span class="footable-toggle"><%= uv_polish_price.print_price %></span>
        </td>

        <td class="footable-visible v-middle">
          <span class="footable-toggle"><%= uv_polish_price.preparation_price %></span>
        </td>

        <td class="footable-visible footable-last-column">
          <%= uv_polish_price.edit_button %>
        </td>
      </tr>

  <% end %>

  </tbody>

</table>