<!-- header -->
<header id="header" class="app-header navbar" role="menu">
  <!-- navbar header -->
  <div class="navbar-header bg-dark">
    <!-- brand -->
    <a href="#/" class="navbar-brand text-lt">
      <span class="hidden-folded m-l-xs"><%= t('brand') %></span>
    </a>
    <!-- / brand -->
  </div>
  <!-- / navbar header -->

  <!-- navbar collapse -->
  <div class="collapse pos-rlt navbar-collapse box-shadow bg-white-only">

    <!-- link and dropdown -->
    <ul class="nav navbar-nav hidden-sm">
      <li>
        <a class="navbar-brand" style="padding-left:7px;" href="#">
          <%= t('Manager') %>
        </a>
      </li>
    </ul>

    <!-- nabar right -->
    <ul class="nav navbar-nav navbar-right">
      <li>
        <%= link_to t('Exit'), destroy_user_session_path, :method => :delete %>
      </li>
    </ul>
    <!-- / navbar right -->

  </div>
  <!-- / navbar collapse -->
</header>
<!-- / header -->

<!-- aside -->
<aside id="aside" class="app-aside hidden-xs bg-dark">
  <div class="aside-wrap">
    <div class="navi-wrap">
      <!-- nav -->
      <nav ui-nav class="navi clearfix">
        <ul class="nav">

          <li>
            <%= link_to content_tag(:span, t('calculation.list')), manager_calculations_path %>
          </li>

          <li>
            <%= link_to content_tag(:span, t('calculation.new')), manager_new_calculation_path %>
          </li>

          <li>
            <%= link_to content_tag(:span, t('client.list')), manager_clients_path %>
          </li>

          <% if current_user.transfered_clients.count > 0 %>
              <li>
                <%= link_to content_tag(:span, t('transfered_client.list')), manager_transfered_clients_path %>
              </li>
          <% end %>

        </ul>
      </nav>
      <!-- nav -->

    </div>
  </div>
</aside>
<!-- / aside -->