<%= form_for :additional, :url => update_additional_path(@additional), :method => :post, :html => {:class => "form-validation"} do |f| %>

    <div class="bg-light lter b-b wrapper-md hidden-print">
      <%= render partial: 'shared/form_top_panel', locals: {header: t('additional.edit_additional') % @additional.name, button: t('additional.save')} %>
    </div>

    <%= render :partial => 'layouts/flash' %>

    <div class="wrapper-md">
      <div class="row">

        <div class="col-lg-12">

          <div class="form-group">
            <label><%= I18n.t('additional.value') %></label>
            <input type="text" class="form-control" name="value" required="" value="<%= @additional.value %>">
          </div>

        </div>

      </div>
    </div>
<% end %>