<table class="table m-b-none footable-loaded footable default table-striped table-bordered" ui-jq="footable" data-filter="#filter">

  <thead>
  <tr>

    <th data-hide="phone" class="footable-visible footable-sortable">
      <%= t('client.fio') %>
    </th>

    <th data-hide="phone" class="footable-visible footable-sortable">
      <%= t('client.phone') %>
    </th>

    <th data-hide="phone" class="footable-visible footable-sortable">
      <%= t('client.email') %>
    </th>

    <th data-hide="phone" class="footable-visible footable-sortable">
      <%= t('client.contract') %>
    </th>

    <th data-hide="phone" class="footable-visible footable-sortable">
      <%= t('client.payer') %>
    </th>

    <th data-hide="phone" class="footable-visible footable-sortable">
      <%= t('client.description') %>
    </th>

    <th data-hide="phone" class="footable-visible footable-sortable">
      <%= t('client.discount') %>
    </th>

    <th data-hide="phone" class="footable-visible footable-sortable">
      <%= t('client.shipping_address') %>
    </th>

    <th data-hide="phone" class="footable-visible footable-last-column" width="105"><%= t('client.actions') %></th>

  </tr>
  </thead>

  <tbody>

  <% @transfered_clients.each do |client| %>
      <%= react_component('ManagerClientRow',
                          {
                                  client: client.to_jsx,
                                  discounts: Discount.all.map { |d| {id: d.id, name: d.name} },
                                  contract_statuses: ContractStatus.all.map { |s| {id: s.id, name: s.name, color: s.color} },
                                  update_url: manager_update_client_path(client, format: :json),
                                  specifications_url: {url: manager_transfered_specifications_path(client), count: client.specifications.count},
                                  branches_url: {url: manager_transfered_branches_path(client), count: client.branches.count},
                          }, {
                                  tag: 'tr',
                                  class: client.tr_class(@transfered_clients),
                                  style: "display: table-row;"
                          }) %>
  <% end %>

  </tbody>

</table>