<div class="bg-light lter b-b wrapper-md hidden-print">
  <%= render partial: 'shared/top_panel', locals: {header: t('transfered_client.list')} %>
</div>

<%= react_component('FlashMessage') %>

<div class="wrapper-md">
  <div class="panel panel-default">
    <%= render :partial => 'table' %>
  </div>
</div>