<table class="table m-b-none footable-loaded footable default table-striped table-bordered" ui-jq="footable" data-filter="#filter">

  <thead>
  <tr>
    <th data-toggle="true" class="footable-visible footable-sortable footable-first-column">
      <%= t('cover_work_type.name') %>
    </th>

    <th data-hide="phone" class="footable-visible footable-sortable">
      <%= t('cover_work_type.count_of_copies_per_hour') %>
    </th>

    <th data-hide="phone" class="footable-visible footable-sortable">
      <%= t('cover_work_type.salary') %>
    </th>

    <th data-hide="phone" class="footable-visible footable-sortable">
      <%= t('cover_work_type.material_price') %>
    </th>

    <th data-hide="phone" class="footable-visible footable-sortable">
      <%= t('cover_work_type.price') %>
    </th>

    <th data-hide="phone" class="footable-visible footable-sortable footable-last-column">
      <%= t('cover_work_type.owner') %>
    </th>

    <th data-hide="phone" class="footable-visible footable-sortable footable-last-column">
      <%= t('cover_work_type.currency') %>
    </th>

    <th data-hide="phone" class="footable-visible footable-sortable footable-last-column">
      <%= t('cover_work_type.operation') %>
    </th>

    <th width="50"></th>
  </tr>
  </thead>

  <tbody>

  <% @cover_work_types.each do |cover_work_type| %>

      <tr class="<%= cover_work_type.tr_class(@cover_work_types) %>" style="display: table-row;">

        <td class="footable-visible footable-first-column v-middle">
          <span class="footable-toggle"><%= cover_work_type.name %></span>
        </td>

        <td class="footable-visible v-middle">
          <span class="footable-toggle"><%= cover_work_type.count_of_copies_per_hour %></span>
        </td>

        <td class="footable-visible v-middle">
          <span class="footable-toggle"><%= cover_work_type.salary %></span>
        </td>

        <td class="footable-visible v-middle">
          <span class="footable-toggle"><%= cover_work_type.material_price %></span>
        </td>

        <td class="footable-visible v-middle">
          <span class="footable-toggle"><%= cover_work_type.price %></span>
        </td>

        <td class="footable-visible v-middle">
          <span class="footable-toggle"><%= cover_work_type.owner.name %></span>
        </td>

        <td class="footable-visible v-middle">
          <span class="footable-toggle"><%= cover_work_type.currency.internal_name %></span>
        </td>

        <td class="footable-visible v-middle">
          <span class="footable-toggle"><%= cover_work_type.operation.name %></span>
        </td>

        <td class="footable-visible footable-last-column">

          <div class="btn-group dropdown">
            <button class="btn btn-default btn-bg btn-sm dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
              <span class="dropdown-label"><%= t('menu') %></span>
              <span class="caret"></span>
            </button>
            <ul class="dropdown-menu text-left text-sm pull-right">
              <li><%= cover_work_type.edit_button %></li>
              <li><%= cover_work_type.remove_button %></li>
            </ul>
          </div>

        </td>
      </tr>

  <% end %>

  </tbody>

</table>