<%= form_for :specification, url: manager_update_specification_path(@specification), method: :post, html: {class: "form-validation", :multipart => true} do |f| %>

    <div class="bg-light lter b-b wrapper-md hidden-print">
      <%= render partial: 'shared/form_top_panel', locals: {header: t('specification.edit'), button: t('specification.save')} %>
    </div>

    <%= render :partial => 'layouts/flash' %>

    <div class="wrapper-md">
      <div class="row">

        <div class="col-lg-12">

          <div class="form-group">
            <label><%= t('specification.number') %></label>
            <input type="text" class="form-control" name="number" value="<%= @specification.number %>">
          </div>

          <div class="form-group">
            <label><%= t('specification.date') %></label>
            <input type="text" class="form-control" name="date" data-behaviour="datepicker" value="<%= @specification.date %>">
          </div>

          <div class="form-group">
            <label><%= t('specification.document_formats') %></label>

            <div class="row">
              <div class="col-lg-6">
                <input type="text" class="form-control" name="document" value="<%= @specification.document_file_name %>" readonly>
              </div>
              <div class="col-lg-6 v-middle">
                <%= f.file_field :document, {name: 'document'} %>
              </div>
            </div>

          </div>

        </div>

      </div>
    </div>
<% end %>