<%= form_for :specification, url: manager_create_specification_path(@client), method: :post, html: {class: "form-validation", multipart: true} do |f| %>

    <div class="bg-light lter b-b wrapper-md hidden-print">
      <%= render partial: 'shared/form_top_panel', locals: {header: t('specification.new'), button: t('specification.create')} %>
    </div>

    <%= render :partial => 'layouts/flash' %>

    <div class="wrapper-md">
      <div class="row">

        <div class="col-lg-12">

          <div class="form-group">
            <label><%= t('specification.number') %></label>
            <input type="text" class="form-control" name="number">
          </div>

          <div class="form-group">
            <label><%= t('specification.date') %></label>
            <input type="text" class="form-control" name="date" data-behaviour="datepicker">
          </div>

          <div class="form-group">
            <label><%= t('specification.document_formats') %></label>
            <%= f.file_field :document, {name: 'document'} %>
          </div>

        </div>
      </div>
    </div>
<% end %>



