<%= form_for :uv_polish_price, url: update_uv_polish_price_path(@uv_polish_price), method: :post, html: {class: "form-validation"} do |f| %>

    <div class="bg-light lter b-b wrapper-md hidden-print">
      <%= render partial: 'shared/form_top_panel', locals: {header: t('uv_polish_price.edit'), button: t('uv_polish_price.save')} %>
    </div>

    <%= render :partial => 'layouts/flash' %>

    <div class="wrapper-md">
      <div class="row">

        <div class="col-lg-6">
          <div class="form-group">
            <label><%= I18n.t('uv_polish_price.print_price') %></label>
            <input type="text" class="form-control" name="print_price" required="" value="<%= @uv_polish_price.print_price %>">
          </div>
        </div>

        <div class="col-lg-6">
          <div class="form-group">
            <label><%= I18n.t('uv_polish_price.preparation_price') %></label>
            <input type="text" class="form-control" name="preparation_price" required="" value="<%= @uv_polish_price.preparation_price %>">
          </div>
        </div>

      </div>
    </div>
<% end %>