<div class="bg-light lter b-b wrapper-md hidden-print">
  <%= render partial: 'shared/top_panel', locals: {header: t('branch.list') % @client.fio, button_name: t('branch.new'), button_path: new_branch_path(@client)} %>
</div>

<%= render :partial => 'layouts/flash' %>

<%= javascript_tag(render partial: 'select', formats: [:js]) %>

<div class="wrapper-md p-b-none">
  <%= select "clients", "clients", Client.all.collect { |p| [p.fio, p.id] }, {selected: @client.id}, {class: "form-control", id: 'client'} %>
</div>

<div class="wrapper-md">
  <div class="panel panel-default">
    <%= render :partial => 'table' %>
  </div>
</div>