<%= link_to print_button, '#', class: "btn btn-success pull-right btn-sm m-l-xs", onclick: "window.print();" %>
<button type="submit" class="btn btn-primary pull-right btn-sm m-l-xs"><%= t('variable.recalculate') %></button>
<h1 class="m-n font-thin h3"><%= header %></h1>