<div class="form-group pull-in clearfix">

  <div class="col-sm-6">
    <label><%= I18n.t('machine.form_price') %></label>
    <%= form_prices %>
  </div>

  <div class="col-sm-6">
    <label><%= I18n.t('machine.price_per_hour') %></label>
    <%= prices_per_hour %>
  </div>

</div>