<% if printable %>
    <table class="table print-table default table-striped table-bordered">
<% else %>
    <table class="table m-b-none default table-striped table-bordered">
<% end %>

<thead>
<tr>
  <th class="v-middle">Цена за тонну</th>
  <% @results.each do |result| %>
      <th>
        <input class="form-control input-sm" name="<%= "prices_per_1_ton[#{result.component.id}]" %>" value="<%= result.variable_price_per_1_ton %>">
      </th>
  <% end %>
  <th></th>
</tr>

<tr>
  <th></th>

  <% @results.each do |result| %>
      <th><%= result.component.name %></th>
  <% end %>

  <th><%= t('result.total') %></th>
</tr>
</thead>
<tbody>
<tr>
  <td><%= t('result.product_name') %></td>
  <% @results.count.times do %>
      <%= content_tag(:td) %>
  <% end %>
  <%= content_tag(:td, @calculation.product.name) %>
</tr>

<tr>
  <td><%= t('result.product_size') %></td>

  <% @results.each do |result| %>
      <%= content_tag(:td, result.size) %>
  <% end %>

  <td></td>
</tr>

<tr>
  <td><%= t('result.print_run') %></td>

  <% @results.count.times do %>
      <%= content_tag(:td) %>
  <% end %>

  <%= content_tag(:td, @calculation.print_run) %>
</tr>

<tr>
  <td><%= t('result.paper') %></td>

  <% @results.each do |result| %>
      <%= content_tag(:td, result.chosen_paper) %>
  <% end %>

  <td></td>
</tr>

<tr>
  <td><%= t('result.imposition') %></td>

  <% @results.each do |result| %>
      <%= content_tag(:td, result.imposition) %>
  <% end %>

  <td></td>
</tr>


<tr>
  <td><%= t('result.paper_expense') %></td>

  <% @results.each do |result| %>
      <%= content_tag(:td, result.paper_expense) %>
  <% end %>

  <td></td>
</tr>

<tr>
  <td><%= t('result.paper_price') %></td>

  <% @results.each do |result| %>
      <%= content_tag(:td, result.paper_price) %>
  <% end %>

  <td></td>
</tr>

<tr>
  <td><%= t('result.front_colors') %></td>

  <% @results.each do |result| %>
      <%= content_tag(:td, result.front_colors) %>
  <% end %>

  <td></td>
</tr>

<tr>
  <td><%= t('result.back_colors') %></td>

  <% @results.each do |result| %>
      <%= content_tag(:td, result.back_colors) %>
  <% end %>

  <td></td>
</tr>

<tr>
  <td><%= t('result.material_price') %></td>

  <% @results.count.times do %>
      <%= content_tag(:td) %>
  <% end %>

  <%= content_tag(:td, @results.to_a.sum(&:material_price)) %>
</tr>

<tr>
  <td><%= t('result.form_price') %></td>

  <% @results.each do |result| %>
      <%= content_tag(:td, result.form_price) %>
  <% end %>

  <%= content_tag(:td, @results.to_a.sum(&:form_price)) %>
</tr>

<tr>
  <td><%= t('result.stripes_count') %></td>

  <% @results.each do |result| %>
      <%= content_tag(:td, result.component.stripes_count) %>
  <% end %>

  <%= content_tag(:td, @results.map { |r| r.component }.sum(&:stripes_count)) %>
</tr>

<tr>
  <td><%= t('result.print_time') %></td>

  <% @results.each do |result| %>
      <%= content_tag(:td, result.print_time) %>
  <% end %>

  <%= content_tag(:td, @results.to_a.sum(&:print_time).round(3)) %>
</tr>

<tr>
  <td><%= t('result.print_price') %></td>

  <% @results.each do |result| %>
      <%= content_tag(:td, result.print_price) %>
  <% end %>

  <%= content_tag(:td, @results.to_a.sum(&:print_price)) %>
</tr>

<tr>
  <td><%= t('result.machine') %></td>

  <% @results.each do |result| %>
      <%= content_tag(:td, result.machine) %>
  <% end %>

  <td></td>
</tr>

<tr>
  <td><%= t('result.print_run_weight') %></td>

  <% @results.each do |result| %>
      <%= content_tag(:td, result.print_run_weight) %>
  <% end %>

  <%= content_tag(:td, @results.to_a.sum(&:print_run_weight).round(4)) %>
</tr>

<tr>
  <td><%= t('result.print_run_price') %></td>

  <% @results.count.times do %>
      <%= content_tag(:td) %>
  <% end %>

  <%= content_tag(:td, @results.to_a.sum(&:print_run_price)) %>
</tr>

<tr>
  <td><%= t('result.print_run_price_without_nds') %></td>

  <% @results.count.times do %>
      <%= content_tag(:td) %>
  <% end %>

  <%= content_tag(:td, @results.to_a.sum(&:print_run_price_without_nds)) %>
</tr>

<tr>
  <td><%= t('result.price_per_unit') %></td>

  <% @results.each do |result| %>
      <%= content_tag(:td, result.price_per_unit) %>
  <% end %>

  <td></td>
</tr>

<tr>
  <td><%= t('result.price_per_unit_without_nds') %></td>

  <% @results.each do |result| %>
      <%= content_tag(:td, result.price_per_unit_without_nds) %>
  <% end %>

  <td></td>
</tr>

<% @calculation.cover_works.each do |cover_work| %>
    <tr>
      <td><%= t('result.cover_work_name') % cover_work.type.name %></td>
      <% @results.count.times do %>
          <%= content_tag(:td) %>
      <% end %>
      <%= content_tag(:td, cover_work.full_price) %>
    </tr>
<% end %>

<tr>
  <td><%= t('result.uv_polish_price') %></td>

  <% @results.each do |result| %>
      <%= content_tag(:td, result.uv_polish_price) %>
  <% end %>

  <td></td>
</tr>

</tbody>
</table>