<%= form_for :variable, url: manager_variable_path(@calculation), method: :post, html: {class: "form-validation"} do |f| %>

    <div class="bg-light lter b-b wrapper-md hidden-print">
      <%= render partial: 'manager/variable/form_top_panel', locals: {header: t('calculation.header') % @calculation.client.fio, print_button: t('calculation.print')} %>
    </div>

    <%= render :partial => 'layouts/flash' %>

    <div class="wrapper-md">
      <div class="row">

        <div class="col-lg-12">
          <%= render partial: 'manager/variable/select' %>
        </div>

        <div class="col-lg-12">
          <div class="panel panel-default">
            <%= render partial: 'manager/variable/table', locals: {printable: false} %>
          </div>
        </div>

      </div>
    </div>
<% end %>

<% content_for :print_area do %>
    <%= render partial: 'manager/variable/table', locals: {printable: true} %>
<% end %>

<%= javascript_tag(render partial: 'select', formats: [:js]) %>