<%= form_for :branch, url: create_branch_path(@client), method: :post, html: {class: "form-validation"} do |f| %>

    <div class="bg-light lter b-b wrapper-md hidden-print">
      <%= render partial: 'shared/form_top_panel', locals: {header: t('branch.new'), button: t('branch.create')} %>
    </div>

    <%= render :partial => 'layouts/flash' %>

    <div class="wrapper-md">
      <div class="row">

        <div class="col-lg-12">

          <div class="form-group">
            <label><%= t('branch.name') %></label>
            <input type="text" class="form-control" name="name" required="">
          </div>

          <div class="form-group">
            <label><%= t('branch.phone') %></label>
            <input type="text" class="form-control" name="phone">
          </div>

          <div class="form-group">
            <label><%= t('branch.email') %></label>
            <input type="text" class="form-control" name="email">
          </div>

          <div class="form-group">
            <label><%= t('branch.contract') %></label>
            <input type="text" class="form-control" name="contract">
          </div>

          <div class="form-group">
            <label><%= t('branch.payer') %></label>
            <input type="text" class="form-control" name="payer">
          </div>

          <div class="form-group">
            <label><%= t('branch.discount') %></label>
            <%= select "discount", "discount", Discount.all.collect { |p| [p.name, p.id] }, {}, {class: "form-control", name: 'discount'} %>
          </div>

          <div class="form-group">
            <label><%= t('branch.shipping_address') %></label>
            <input type="text" class="form-control" name="shipping_address">
          </div>

          <div class="form-group">
            <label><%= t('branch.description') %></label>
            <textarea class="form-control" rows="6" placeholder="<%= t('branch.description') %>" name="description"></textarea>
          </div>

        </div>
      </div>
    </div>
<% end %>



