<%= form_for :client, :url => update_client_path(@client), :method => :post, :html => {:class => "form-validation"} do |f| %>

    <div class="bg-light lter b-b wrapper-md hidden-print">
      <%= render partial: 'shared/form_top_panel', locals: {header: t('client.edit'), button: t('client.save')} %>
    </div>

    <%= render :partial => 'layouts/flash' %>

    <div class="wrapper-md">
      <div class="row">

        <div class="col-lg-12">

          <div class="form-group">
            <label><%= t('client.fio') %></label>
            <input type="text" class="form-control" name="fio" required="" value="<%= @client.fio %>">
          </div>

          <div class="form-group">
            <label><%= t('client.phone') %></label>
            <input type="text" class="form-control" name="phone" value="<%= @client.phone %>">
          </div>

          <div class="form-group">
            <label><%= t('client.email') %></label>
            <input type="text" class="form-control" name="email" value="<%= @client.email %>">
          </div>

          <div class="form-group">
            <label><%= t('client.contract') %></label>
            <input type="text" class="form-control" name="contract" value="<%= @client.contract %>">
          </div>

          <div class="form-group">
            <label><%= t('client.payer') %></label>
            <input type="text" class="form-control" name="payer" value="<%= @client.payer %>">
          </div>

          <div class="form-group">
            <label><%= t('client.manager') %></label>
            <%= select "manager", "manager", User.managers.collect { |p| [p.fio, p.id] }, {selected: @client.manager.id}, {:class => "form-control", name: 'manager'} %>
          </div>

          <div class="form-group">
            <label><%= t('client.discount') %></label>
            <%= select "discount", "discount", Discount.all.collect { |p| [p.name, p.id] }, {selected: @client.discount.id}, {:class => "form-control", name: 'discount'} %>
          </div>

          <div class="form-group">
            <label><%= t('client.shipping_address') %></label>
            <input type="text" class="form-control" name="shipping_address" value="<%= @client.shipping_address %>">
          </div>

          <div class="form-group">
            <label><%= t('client.contract_status') %></label>
            <%= select "contract_status", "contract_status", ContractStatus.all.collect { |p| [p.name, p.id] }, {selected: @client.contract_status.id}, {class: "form-control", name: 'contract_status'} %>
          </div>

          <div class="form-group">
            <label><%= t('client.description') %></label>
            <textarea class="form-control" rows="6" placeholder="<%= t('client.description') %>" name="description"><%= @client.description %></textarea>
          </div>

        </div>

      </div>
    </div>
<% end %>