<table class="table m-b-none footable-loaded footable default table-striped table-bordered" ui-jq="footable" data-filter="#filter">

  <thead>
  <tr>
    <th data-toggle="true" class="footable-visible footable-sortable footable-first-column">
      <%= t('additional.name') %>
    </th>

    <th data-hide="phone" class="footable-visible footable-sortable footable-last-column">
      <%= t('additional.value') %>
    </th>

    <th width="50"></th>
  </tr>
  </thead>

  <tbody>

  <% @additionals.each do |additional| %>

      <tr class="<%= additional.tr_class(@additionals) %>" style="display: table-row;">

        <td class="footable-visible footable-first-column v-middle">
          <span class="footable-toggle"><%= additional.name %></span>
        </td>

        <td class="footable-visible v-middle">
          <span class="footable-toggle"><%= additional.value %></span>
        </td>

        <td class="footable-visible footable-last-column">
          <%= additional.edit_button %>
        </td>
      </tr>

  <% end %>

  </tbody>

</table>