<table class="table m-b-none footable-loaded footable default table-striped table-bordered" ui-jq="footable" data-filter="#filter">

  <thead>
  <tr>

    <th data-hide="phone" class="footable-visible footable-sortable">
      <%= t('branch.name') %>
    </th>

    <th data-hide="phone" class="footable-visible footable-sortable">
      <%= t('branch.phone') %>
    </th>

    <th data-hide="phone" class="footable-visible footable-sortable">
      <%= t('branch.email') %>
    </th>

    <th data-hide="phone" class="footable-visible footable-sortable">
      <%= t('branch.contract') %>
    </th>

    <th data-hide="phone" class="footable-visible footable-sortable">
      <%= t('branch.payer') %>
    </th>

    <th data-hide="phone" class="footable-visible footable-sortable">
      <%= t('branch.description') %>
    </th>

    <th data-hide="phone" class="footable-visible footable-sortable">
      <%= t('branch.discount') %>
    </th>

    <th data-hide="phone" class="footable-visible footable-sortable">
      <%= t('branch.shipping_address') %>
    </th>

    <th width="50"></th>

  </tr>
  </thead>

  <tbody>

  <% @branches.each do |branch| %>

      <tr class="<%= branch.tr_class(@branches) %>" style="display: table-row;">

        <td class="footable-visible footable-first-column v-middle">
          <span class="footable-toggle"><%= branch.name %></span>
        </td>

        <td class="footable-visible v-middle">
          <span class="footable-toggle"><%= branch.phone %></span>
        </td>

        <td class="footable-visible v-middle">
          <span class="footable-toggle"><%= branch.email %></span>
        </td>

        <td class="footable-visible v-middle">
          <span class="footable-toggle"><%= branch.contract %></span>
        </td>

        <td class="footable-visible v-middle">
          <span class="footable-toggle"><%= branch.payer %></span>
        </td>

        <td class="footable-visible v-middle">
          <span class="footable-toggle"><%= branch.description %></span>
        </td>

        <td class="footable-visible v-middle">
          <span class="footable-toggle"><%= branch.discount.name %></span>
        </td>

        <td class="footable-visible v-middle">
          <span class="footable-toggle"><%= branch.shipping_address %></span>
        </td>

        <td class="footable-visible footable-last-column v-middle">

          <div class="btn-group dropdown">
            <button class="btn btn-default btn-bg btn-sm dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
              <span class="dropdown-label"><%= t('menu') %></span>
              <span class="caret"></span>
            </button>
            <ul class="dropdown-menu text-left text-sm pull-right">
              <li><%= branch.edit_button %></li>
            </ul>
          </div>

        </td>

      </tr>

  <% end %>

  </tbody>

</table>