<div class="row">

  <div class="col-xs-6">
    Фальцовка в __ сгиба машинная <input type="checkbox"> ручная <input type="checkbox">
  </div>

  <div class="col-xs-6">
    УФ-лак ______
  </div>

</div>

<div class="row">

  <div class="col-xs-12">
    Подборка <input type="checkbox"> Вкладка <input type="checkbox">
  </div>

</div>

<div class="row">

  <div class="col-xs-12">
    Биговка <input type="checkbox"> Перфорация <input type="checkbox">
  </div>

</div>

<div class="row">

  <div class="col-xs-6">
    Нумерация ______
  </div>

  <div class="col-xs-6">
    Вырубка ______
  </div>

</div>

<div class="row">

  <div class="col-xs-12">
    Ламинат ______ мкм
  </div>

</div>

<div class="row">

  <div class="col-xs-6">
    Кругление: R=0.6 R=0.3
  </div>

  <div class="col-xs-6">
    Резка <input type="checkbox">
  </div>

</div>

<div class="row">

  <div class="col-xs-6">
    Скрепление: скрепка <input type="checkbox"> клей <input type="checkbox">
  </div>

  <div class="col-xs-6">
    Упаковка по _____________
  </div>

</div>

<div class="row">

  <div class="col-xs-12">
    пружины: <input type="checkbox"> цвет ______
  </div>

</div>

<div class="row">

  <div class="col-xs-12">
    отверстия: квадратные <input type="checkbox"> круглые <input type="checkbox"> любые <input type="checkbox">
  </div>

</div>

<div class="row">

  <div class="col-xs-12">
    ригель <input type="checkbox"> пиккало <input type="checkbox"> курсор <input type="checkbox">
  </div>

</div>