<div class="row">

  <div class="col-xs-12">
    <h4 class="text-center">
      Техническое задание
    </h4>
    <h5 class="text-center">
      на изготовление полиграфической продукции ООО "Аэропринт"
    </h5>
  </div>

</div>

<div class="row">

  <div class="col-xs-4">
    Заказ № ______
  </div>

  <div class="col-xs-4">
    Дата приёма "____" 20___ г.
  </div>

  <div class="col-xs-4">
    Дата сдачи "____" 20___ г.
  </div>

</div>

<div class="row">

  <div class="col-xs-8">
    Заказчик _________________________________
  </div>

  <div class="col-xs-4">
    тел. ___________________
  </div>

</div>

<div class="row">

  <div class="col-xs-12">
    Наименование продукции __________________________
  </div>

</div>

<div class="row">

  <div class="col-xs-6">
    Менеджер ____________________________
  </div>

  <div class="col-xs-6">
    Распечатка: цветная <input type="checkbox">
    чёрно-белая <input type="checkbox" checked>
  </div>

</div>

<div class="row">

  <div class="col-xs-6">
    Формат продукции _____________________
  </div>

  <div class="col-xs-6">
    Вывод фотоформ:
  </div>

</div>

<div class="row">

  <div class="col-xs-6">
    Тираж ____________________________ экз.
  </div>

  <div class="col-xs-6">
    фотоплёнка <input type="checkbox"> ___
    CTP <input type="checkbox"> ___
    калька <input type="checkbox"> ___
  </div>

</div>

<div class="row">

  <div class="col-xs-6">
    Тираж ____________ видов по ________ шт.
  </div>

  <div class="col-xs-6">
    Печатная машина: RYOBI MAN ЦИФРА
  </div>

</div>