<div class="row">
  <div class="col-xs-12">
    <%= render partial: 'manager/tech/header' %>
  </div>
</div>

<div class="row m-t-md">
  <div class="col-xs-12">
    <%= render partial: 'manager/tech/table' %>
  </div>
</div>

<div class="row">
  <div class="col-xs-12">
    <%= render partial: 'manager/tech/footer' %>
  </div>
</div>