<div class="panel panel-default">

  <table class="table print-table default table-striped table-bordered">

    <thead>
    <tr>
      <th rowspan="2" class="v-middle text-center"></th>
      <th rowspan="2" class="v-middle text-center">Вид и плотность бумаги, г/м2</th>
      <th rowspan="2" class="v-middle text-center">Формат бумаги, кол-во листов</th>
      <th rowspan="2" class="v-middle text-center">Кол-во листов на A3/A2</th>
      <th colspan="2" class="v-middle text-center">Красочность</th>
    </tr>

    <tr>
      <th class="v-middle text-center">лицо</th>
      <th class="v-middle text-center">оборот</th>
    </tr>

    </thead>

    <tbody>
    <tr class="text-center">
      <td class="v-middle">Обложка</td>
      <td class="v-middle">
        150
      </td>
      <td class="v-middle">64x90</td>
      <td class="v-middle">A3 = 2</td>
      <td class="v-middle">
        CMYK<br>
        Pantone<br>
        Pantone
      </td>
      <td class="v-middle">
        CMYK<br>
        Pantone<br>
        Pantone
      </td>
    </tr>

    <tr class="text-center">
      <td class="v-middle">Блок 1</td>
      <td class="v-middle">
        80
      </td>
      <td class="v-middle">64x90</td>
      <td class="v-middle">A3 = 2</td>
      <td class="v-middle">
        CMYK<br>
        Pantone<br>
        Pantone
      </td>
      <td class="v-middle">
        CMYK<br>
        Pantone<br>
        Pantone
      </td>
    </tr>

    <tr class="text-center">
      <td class="v-middle">Блок 2</td>
      <td class="v-middle">
        90
      </td>
      <td class="v-middle">64x90</td>
      <td class="v-middle">A3 = 2</td>
      <td class="v-middle">
        CMYK<br>
        Pantone<br>
        Pantone
      </td>
      <td class="v-middle">
        CMYK<br>
        Pantone<br>
        Pantone
      </td>
    </tr>

    </tbody>

  </table>
</div>