<table class="table m-b-none footable-loaded footable default table-striped table-bordered" ui-jq="footable" data-filter="#filter">

  <thead>
  <tr>
    <th data-toggle="true" class="footable-visible footable-sortable footable-first-column">
      <%= t('currency.name') %>
    </th>

    <% Currency::EXCHANGE_RATE_COUNT.times do |index| %>
        <th data-hide="phone" class="footable-visible footable-sortable footable-last-column">
          <%= t('currency.exchange_rate_number') % (index + 1) %>
        </th>
    <% end %>

    <th width="50"></th>
  </tr>
  </thead>

  <tbody>

  <% @currencies.each do |currency| %>

      <tr class="<%= currency.tr_class(@currencies) %>" style="display: table-row;">

        <td class="footable-visible footable-first-column v-middle">
          <span class="footable-toggle"><%= currency.name %></span>
        </td>

        <% Currency::EXCHANGE_RATE_COUNT.times do |index| %>
            <td class="footable-visible v-middle">
              <span class="footable-toggle"><%= currency.exchange_rates[index] %></span>
            </td>
        <% end %>

        <td class="footable-visible footable-last-column">
          <%= currency.edit_button %>
        </td>
      </tr>

  <% end %>

  </tbody>

</table>