<%= form_for :manager, :url => update_manager_path(@manager), :method => :post, :html => {:class => "form-validation"} do |f| %>

    <div class="bg-light lter b-b wrapper-md hidden-print">
      <%= render partial: 'shared/form_top_panel', locals: {header: t('manager.edit'), button: t('manager.save')} %>
    </div>

    <%= render :partial => 'layouts/flash' %>

    <div class="wrapper-md">
      <div class="row">

        <div class="col-lg-12">
          <div class="form-group">
            <label><%= t('manager.login') %>
              <em class="text-muted">(имеет формат email, например: ivanov@aero-print.ru)</em></label>
            <input type="email" class="form-control" name="email" required="" value="<%= @manager.email %>">
          </div>

          <div class="form-group">
            <label><%= t('manager.fio') %></label>
            <input type="text" class="form-control" name="fio" value="<%= @manager.fio %>">
          </div>

          <div class="form-group">
            <label><%= t('manager.description') %></label>
            <textarea class="form-control" rows="6" placeholder="Описание" name="description"><%= @manager.description %></textarea>
          </div>

          <div class="form-group">
            <label><%= t('manager.substitute') %></label>
            <%= @manager.possible_substitutes %>
          </div>
        </div>

      </div>
    </div>
<% end %>