<%= form_for :manager, :url => create_manager_path, :method => :post, :html => {:class => "form-validation"} do |f| %>

    <div class="bg-light lter b-b wrapper-md hidden-print">
      <%= render partial: 'shared/form_top_panel', locals: {header: t('manager.new'), button: t('manager.create')} %>
    </div>

    <%= render :partial => 'layouts/flash' %>

    <div class="wrapper-md">
      <div class="row">

        <div class="col-lg-12">
          <div class="form-group">
            <label><%= t('manager.login') %>
              <em class="text-muted">(имеет формат email, например: ivanov@aero-print.ru)</em></label>
            <input type="email" class="form-control" name="email" required="">
          </div>

          <div class="form-group pull-in clearfix">
            <div class="col-sm-6">
              <label><%= t('manager.password') %>
                <em class="text-muted">(минимальная длина пароля - 8 знаков)</em></label>
              <input type="password" class="form-control" name="password" required="">
            </div>
            <div class="col-sm-6">
              <label><%= t('manager.password_confirmation') %></label>
              <input type="password" class="form-control" name="password_confirmation" required="">
            </div>
          </div>

          <div class="form-group">
            <label><%= t('manager.fio') %></label>
            <input type="text" class="form-control" name="fio">
          </div>

          <div class="form-group">
            <label><%= t('manager.description') %></label>
            <textarea class="form-control" rows="6" placeholder="Описание" name="description"></textarea>
          </div>

        </div>
      </div>
    </div>
<% end %>



