<table class="table m-b-none footable-loaded footable default table-striped table-bordered" ui-jq="footable" data-filter="#filter">

  <thead>
  <tr>
    <th data-toggle="true" class="footable-visible footable-sortable footable-first-column">
      <%= t('product.name') %>
    </th>

    <th data-toggle="true" class="footable-visible footable-sortable">
      <%= t('product.type') %>
    </th>

    <th data-toggle="true" class="footable-visible footable-sortable">
      <%= t('product.calculation_count') %>
    </th>

    <th data-toggle="true" class="footable-visible footable-sortable footable-last-column">
      <%= t('product.created_at') %>
    </th>

    <th width="50"></th>
  </tr>
  </thead>

  <tbody>

  <% @products.each do |product| %>

      <tr class="<%= product.tr_class(@products) %>" style="display: table-row;">

        <td class="footable-visible footable-first-column v-middle">
          <span class="footable-toggle"><%= product.name %></span>
        </td>

        <td class="footable-visible v-middle">
          <span class="footable-toggle"><%= product.type.name %></span>
        </td>

        <td class="footable-visible v-middle">
          <span class="footable-toggle"><%= product.calculations.count %></span>
        </td>

        <td class="footable-visible v-middle">
          <span class="footable-toggle"><%= product.created_at %></span>
        </td>

        <td class="footable-visible footable-last-column">
          <div class="btn-group dropdown">
            <button class="btn btn-default btn-bg btn-sm dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
              <span class="dropdown-label"><%= t('menu') %></span>
              <span class="caret"></span>
            </button>
            <ul class="dropdown-menu text-left text-sm pull-right">
              <li><%= product.edit_button %></li>
              <li><%= product.remove_button %></li>
            </ul>
          </div>
        </td>
      </tr>

  <% end %>

  </tbody>

</table>