<table class="table m-b-none footable-loaded footable default table-striped table-bordered" ui-jq="footable" data-filter="#filter">

  <thead>
  <tr>
    <th data-toggle="true" class="footable-visible footable-sortable footable-first-column">
      <%= t('paper.feature.cut.gor_mm') %>
    </th>

    <th class="footable-visible footable-sortable">
      <%= t('paper.feature.cut.ver_mm') %>
    </th>

    <th data-hide="phone" class="footable-visible footable-sortable">
      <%= t('paper.feature.cut.machine') %>
    </th>

    <th data-hide="phone" class="footable-visible footable-sortable">
      <%= t('paper.feature.cut.chunk_count') %>
    </th>

    <th data-hide="phone" class="footable-visible footable-sortable">
      <%= t('paper.feature.cut.extended') %>
    </th>

    <th class="footable-visible footable-sortable footable-last-column" width="50"></th>
  </tr>
  </thead>

  <tbody>

  <% @paper_cuts.each do |cut| %>

      <tr class="<%= cut.tr_class(@paper_feature.cuts) %>" style="display: table-row;">

        <td class="footable-visible v-middle footable-first-column">
          <span class="footable-toggle"><%= cut.gor_mm %></span>
        </td>

        <td class="footable-visible v-middle">
          <span class="footable-toggle"><%= cut.ver_mm %></span>
        </td>

        <td class="footable-visible v-middle">
          <span class="footable-toggle"><%= cut.machine.name %></span>
        </td>

        <td class="footable-visible v-middle">
          <span class="footable-toggle"><%= cut.chunk_count %></span>
        </td>

        <td class="footable-visible v-middle">
          <span class="footable-toggle"><%= cut.extended %></span>
        </td>

        <td class="footable-visible footable-last-column">

          <div class="btn-group dropdown">
            <button class="btn btn-default btn-bg btn-sm dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
              <span class="dropdown-label"><%= t('menu') %></span>
              <span class="caret"></span>
            </button>
            <ul class="dropdown-menu text-left text-sm pull-right">
              <li><%= cut.edit_button %></li>
              <li><%= cut.remove_button %></li>
            </ul>
          </div>

        </td>
      </tr>

  <% end %>

  </tbody>

</table>