<div class="bg-light lter b-b wrapper-md hidden-print">
  <%= render partial: 'shared/top_panel', locals: {header: t('paper.feature.cut.list') % @paper_feature.name, button_name: t('paper.feature.cut.new'), button_path: new_cut_path(@paper_feature)} %>
</div>

<%= render :partial => 'layouts/flash' %>

<%= javascript_tag(render partial: 'select', formats: [:js]) %>

<div class="wrapper-md p-b-none">
  <%= select "paper", "feature", PaperFeature.all.collect { |p| [p.name, p.id] }, {selected: @paper_feature.id}, {class: "form-control", id: 'paper_feature'} %>
</div>

<div class="wrapper-md">
  <div class="panel panel-default">
    <%= render :partial => 'table' %>
  </div>
</div>