<%= javascript_tag(render partial: 'manager/calculation/edit/print', formats: [:js]) %>

<button type="submit" class="btn btn-primary pull-right btn-sm m-l-xs"><%= save_button %></button>
<%= link_to print_calculation, '#', class: "btn btn-success pull-right btn-sm m-l-xs", id: 'print_calculation' %>
<%= link_to I18n.t('multiple.new'), manager_new_multiple_path(@calculation), class: "btn btn-danger pull-right btn-sm m-l-xs" %>
<%= link_to I18n.t('variable.show'), manager_variable_path(@calculation), class: "btn btn-info pull-right m-l-xs btn-sm" %>
<%= link_to print_tech, '#', class: "btn btn-dark pull-right btn-sm", id: 'print_tech' %>

<h1 class="m-n font-thin h3"><%= header %></h1>