$(document).ready(function () {

    $("#print_calculation").click(function () {
        $("#managed_print_area").html("<%= escape_javascript(render(partial: 'manager/calculation/edit/table', locals: {printable: true})) %>");

        window.print();
    });

    $("#print_tech").click(function () {
        $("#managed_print_area").html("<%= escape_javascript(render(partial: 'manager/tech/index')) %>");

        window.print();
    });

});