<% if printable %>
    <table class="table print-table default table-striped table-bordered">
<% else %>
    <table class="table m-b-none default table-striped table-bordered">
<% end %>

<thead>
<tr>
  <th></th>

  <% @components.each do |component| %>
      <th><%= component.name %></th>
  <% end %>

  <th><%= t('result.total') %></th>
</tr>
</thead>
<tbody>
<tr>
  <td><%= t('result.product_name') %></td>
  <% @components.count.times do %>
      <%= content_tag(:td) %>
  <% end %>
  <%= content_tag(:td, @calculation.product.name) %>
</tr>

<tr>
  <td><%= t('result.product_size') %></td>

  <% @components.each do |component| %>
      <%= content_tag(:td, component.size) %>
  <% end %>

  <td></td>
</tr>

<tr>
  <td><%= t('result.print_run') %></td>

  <% @components.count.times do %>
      <%= content_tag(:td) %>
  <% end %>

  <%= content_tag(:td, @calculation.print_run) %>
</tr>

<tr>
  <td><%= t('result.paper') %></td>

  <% @components.each do |component| %>
      <%= content_tag(:td, component.paper) %>
  <% end %>

  <td></td>
</tr>

<tr>
  <td><%= t('result.imposition') %></td>

  <% @components.each do |component| %>
      <%= content_tag(:td, component.imposition) %>
  <% end %>

  <td></td>
</tr>


<tr>
  <td><%= t('result.paper_expense') %></td>

  <% @components.each do |component| %>
      <%= content_tag(:td, component.paper_expense) %>
  <% end %>

  <td></td>
</tr>

<tr>
  <td><%= t('result.paper_price') %></td>

  <% @components.each do |component| %>
      <%= content_tag(:td, component.paper_price) %>
  <% end %>

  <td></td>
</tr>

<tr>
  <td><%= t('result.front_colors') %></td>

  <% @components.each do |component| %>
      <%= content_tag(:td, component.front_colors) %>
  <% end %>

  <td></td>
</tr>

<tr>
  <td><%= t('result.back_colors') %></td>

  <% @components.each do |component| %>
      <%= content_tag(:td, component.back_colors) %>
  <% end %>

  <td></td>
</tr>

<tr>
  <td><%= t('result.material_price') %></td>

  <% @components.count.times do %>
      <%= content_tag(:td) %>
  <% end %>

  <%= content_tag(:td, @components.to_a.sum(&:material_price)) %>
</tr>

<tr>
  <td><%= t('result.form_price') %></td>

  <% @components.each do |component| %>
      <%= content_tag(:td, component.form_price) %>
  <% end %>

  <%= content_tag(:td, @components.to_a.sum(&:form_price)) %>
</tr>

<tr>
  <td><%= t('result.stripes_count') %></td>

  <% @components.each do |component| %>
      <%= content_tag(:td, component.stripes_count) %>
  <% end %>

  <%= content_tag(:td, @components.to_a.sum(&:stripes_count)) %>
</tr>

<tr>
  <td><%= t('result.print_time') %></td>

  <% @components.each do |component| %>
      <%= content_tag(:td, component.print_time) %>
  <% end %>

  <%= content_tag(:td, @components.to_a.sum(&:print_time).round(3)) %>
</tr>

<tr>
  <td><%= t('result.print_price') %></td>

  <% @components.each do |component| %>
      <%= content_tag(:td, component.print_price) %>
  <% end %>

  <%= content_tag(:td, @components.to_a.sum(&:print_price)) %>
</tr>

<tr>
  <td><%= t('result.machine') %></td>

  <% @components.each do |component| %>
      <%= content_tag(:td, component.machine) %>
  <% end %>

  <td></td>
</tr>

<tr>
  <td><%= t('result.print_run_weight') %></td>

  <% @components.each do |component| %>
      <%= content_tag(:td, component.print_run_weight) %>
  <% end %>

  <%= content_tag(:td, @components.to_a.sum(&:print_run_weight).round(4)) %>
</tr>

<tr>
  <td><%= t('result.print_run_price') %></td>

  <% @components.count.times do %>
      <%= content_tag(:td) %>
  <% end %>

  <%= content_tag(:td, @components.to_a.sum(&:print_run_price)) %>
</tr>

<tr>
  <td><%= t('result.print_run_price_without_nds') %></td>

  <% @components.count.times do %>
      <%= content_tag(:td) %>
  <% end %>

  <%= content_tag(:td, @components.to_a.sum(&:print_run_price_without_nds)) %>
</tr>

<tr>
  <td><%= t('result.price_per_unit') %></td>

  <% @components.each do |component| %>
      <%= content_tag(:td, component.price_per_unit) %>
  <% end %>

  <td></td>
</tr>

<tr>
  <td><%= t('result.price_per_unit_without_nds') %></td>

  <% @components.each do |component| %>
      <%= content_tag(:td, component.price_per_unit_without_nds) %>
  <% end %>

  <td></td>
</tr>

<% @calculation.cover_works.each do |cover_work| %>
    <tr>
      <td><%= t('result.cover_work_name') % cover_work.type.name %></td>
      <% @components.count.times do %>
          <%= content_tag(:td) %>
      <% end %>
      <%= content_tag(:td, cover_work.full_price) %>
    </tr>
<% end %>

<tr>
  <td><%= t('result.uv_polish_price') %></td>

  <% @components.each do |component| %>
      <%= content_tag(:td, component.uv_polish_price) %>
  <% end %>

  <td></td>
</tr>

</tbody>
</table>