<%= form_for :calculation, url: manager_save_calculation_path(@calculation), method: :post, html: {class: "form-validation"} do |f| %>

    <div class="bg-light lter b-b wrapper-md hidden-print">
      <%= render partial: 'manager/calculation/edit/form_top_panel', locals: {
                                                                           header: t('calculation.header') % @calculation.client.fio,
                                                                           save_button: t('calculation.save'),
                                                                           print_calculation: t('calculation.print'),
                                                                           print_tech: t('tech.print')
                                                                   } %>
    </div>

    <%= render :partial => 'layouts/flash' %>

    <div class="wrapper-md">
      <label><%= t('calculation.name') %></label>
      <%= text_field_tag 'name', @calculation.name, placeholder: '', class: 'form-control', name: 'name' %>
    </div>

    <div class="wrapper-md">
      <div class="panel panel-default">
        <%= render partial: 'manager/calculation/edit/table', locals: {printable: false} %>
      </div>
    </div>
<% end %>