<%= form_for :paper, url: update_paper_path(@paper), :method => :post, :html => {:class => "form-validation"} do |f| %>

    <div class="bg-light lter b-b wrapper-md hidden-print">
      <%= render partial: 'shared/form_top_panel', locals: {header: t('paper.edit'), button: t('paper.save')} %>
    </div>

    <%= render :partial => 'layouts/flash' %>

    <div class="wrapper-md">
      <div class="row">

        <div class="col-lg-12">

          <div class="form-group">
            <label><%= t('paper.name') %></label>
            <input type="text" class="form-control" name="name" required="" value="<%= @paper.name %>">
          </div>

          <div class="form-group pull-in clearfix">
            <div class="col-sm-4">
              <label><%= t('paper.type') %></label>
              <%= select "type", "type", PaperType.all.collect { |p| [p.name, p.id] }, {selected: @paper.type.id}, {:class => "form-control", name: 'type'} %>
            </div>
            <div class="col-sm-4">
              <label><%= t('paper.producer') %></label>
              <%= select "producer", "producer", PaperProducer.all.collect { |p| [p.name, p.id] }, {selected: @paper.producer.id}, {:class => "form-control", name: 'producer'} %>
            </div>
            <div class="col-sm-4">
              <label><%= t('paper.country') %></label>
              <%= select "country", "country", PaperCountry.all.collect { |p| [p.name, p.id] }, {selected: @paper.country.id}, {:class => "form-control", name: 'country'} %>
            </div>
          </div>

        </div>

      </div>
    </div>
<% end %>