.printable {
    display: none;
}

@media print {
    .non-printable {
        display: none;
    }

    .printable {
        display: block;
    }
}

.print-table > thead > tr > th {
    padding: 2px 2px !important;
    font-size: 10px;
}

.print-table > tbody > tr > td {
    padding: 2px 3px !important;
    font-size: 10px;
}