<%= form_for :cover_work, :url => update_cover_work_type_path(@cover_work_type), :method => :post, :html => {:class => "form-validation"} do |f| %>

    <div class="bg-light lter b-b wrapper-md hidden-print">
      <%= render partial: 'shared/form_top_panel', locals: {header: t('cover_work_type.edit'), button: t('cover_work_type.save')} %>
    </div>

    <%= render :partial => 'layouts/flash' %>

    <div class="wrapper-md">
      <div class="row">

        <div class="col-lg-12">

          <div class="form-group">
            <label><%= I18n.t('cover_work_type.name') %></label>
            <input type="text" class="form-control" name="name" required="" value="<%= @cover_work_type.name %>">
          </div>

          <div class="form-group">
            <label><%= I18n.t('cover_work_type.count_of_copies_per_hour') %></label>
            <input type="text" class="form-control" name="count_of_copies_per_hour" required="" value="<%= @cover_work_type.count_of_copies_per_hour %>">
          </div>

          <div class="form-group">
            <label><%= I18n.t('cover_work_type.material_price') %></label>
            <input type="text" class="form-control" name="material_price" required="" value="<%= @cover_work_type.source_material_price %>">
          </div>

          <div class="form-group">
            <label><%= I18n.t('cover_work_type.owner') %></label>
            <%= select "cover_work_type", "owner", CoverWorkOwner.all.collect { |p| [p.name, p.id] }, {selected: @cover_work_type.owner.id}, {:class => "form-control", name: 'owner'} %>
          </div>

          <div class="form-group">
            <label><%= I18n.t('cover_work_type.currency') %></label>
            <%= select "cover_work_type", "currency", CoverWorkCurrency.all.collect { |p| [p.internal_name, p.id] }, {selected: @cover_work_type.currency.id}, {:class => "form-control", name: 'currency'} %>
          </div>

          <div class="form-group">
            <label><%= I18n.t('cover_work_type.operation') %></label>
            <%= select "cover_work_type", "operation", CoverWorkOperation.all.collect { |p| [p.name, p.id] }, {selected: @cover_work_type.operation.id}, {:class => "form-control", name: 'operation'} %>
          </div>

        </div>

      </div>
    </div>
<% end %>