<table class="table m-b-none footable-loaded footable default table-striped table-bordered" ui-jq="footable" data-filter="#filter">

  <thead>
  <tr>
    <th data-toggle="true" class="footable-visible footable-first-column footable-sortable">
      <%= t('machine.name') %>
    </th>

    <th data-hide="phone" class="footable-visible footable-sortable">
      <%= t('machine.efficiency') %>
    </th>

    <th data-hide="phone" class="footable-visible footable-sortable">
      <%= t('machine.color_count') %>
    </th>

    <th data-hide="phone" class="footable-visible footable-sortable">
      <%= t('machine.preparation_time') %>
    </th>

    <th data-hide="phone" class="footable-visible footable-sortable">
      <%= t('machine.additional_time') %>
    </th>

    <th data-hide="phone" class="footable-visible footable-sortable">
      <%= t('machine.price_per_hour') %>
    </th>

    <th data-hide="phone" class="footable-visible footable-sortable">
      <%= t('machine.form_price') %>
    </th>

    <th data-hide="phone" class="footable-visible footable-sortable">
      <%= t('machine.skin') %>
    </th>

    <th data-hide="phone" class="footable-visible footable-sortable">
      <%= t('machine.max_x') %>
    </th>

    <th data-hide="phone" class="footable-visible footable-sortable">
      <%= t('machine.max_y') %>
    </th>

    <th data-hide="phone" class="footable-visible footable-sortable">
      <%= t('machine.format') %>
    </th>

    <th data-hide="phone" class="footable-visible footable-sortable">
      <%= t('machine.scale') %>
    </th>

    <th data-hide="phone" class="footable-visible footable-sortable">
      <%= t('machine.cross') %>
    </th>

    <th data-hide="phone" class="footable-visible footable-sortable">
      <%= t('machine.valve') %>
    </th>

    <th data-hide="phone" class="footable-visible footable-last-column" width="50"></th>
  </tr>
  </thead>

  <tbody>

  <% @machines.each do |machine| %>

      <tr class="<%= machine.tr_class(@machines) %>" style="display: table-row;">

        <td class="footable-visible footable-first-column v-middle">
          <span class="footable-toggle"><%= machine.name %></span>
        </td>

        <td class="footable-visible v-middle">
          <span class="footable-toggle"><%= machine.efficiency %></span>
        </td>

        <td class="footable-visible v-middle">
          <span class="footable-toggle"><%= machine.color_count %></span>
        </td>

        <td class="footable-visible v-middle">
          <span class="footable-toggle"><%= machine.preparation_time %></span>
        </td>

        <td class="footable-visible v-middle">
          <span class="footable-toggle"><%= machine.additional_time %></span>
        </td>

        <td class="footable-visible v-middle">
          <% Machine::Reference.prices_per_hour.keys.map do |index| %>
              <span class="footable-toggle"><%= machine.prices_per_hour[index] %></span>
              <br/>
          <% end %>
        </td>

        <td class="footable-visible v-middle">
          <% Machine::Reference.form_prices.keys.map do |index| %>
              <span class="footable-toggle"><%= machine.form_prices[index] %></span>
              <br/>
          <% end %>
        </td>

        <td class="footable-visible v-middle">
          <span class="footable-toggle"><%= machine.skin %></span>
        </td>

        <td class="footable-visible v-middle">
          <span class="footable-toggle"><%= machine.max_x %></span>
        </td>

        <td class="footable-visible v-middle">
          <span class="footable-toggle"><%= machine.max_y %></span>
        </td>

        <td class="footable-visible v-middle">
          <span class="footable-toggle"><%= machine.format.name %></span>
        </td>

        <td class="footable-visible v-middle">
          <span class="footable-toggle"><%= machine.scale %></span>
        </td>

        <td class="footable-visible v-middle">
          <span class="footable-toggle"><%= machine.cross %></span>
        </td>

        <td class="footable-visible v-middle">
          <span class="footable-toggle"><%= machine.valve %></span>
        </td>

        <td class="footable-visible footable-last-column">

          <div class="btn-group dropdown">
            <button class="btn btn-default btn-bg btn-sm dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
              <span class="dropdown-label"><%= t('menu') %></span>
              <span class="caret"></span>
            </button>
            <ul class="dropdown-menu text-left text-sm pull-right">
              <li><%= machine.edit_button %></li>
              <li><%= machine.remove_button %></li>
            </ul>
          </div>

        </td>
      </tr>

  <% end %>

  </tbody>

</table>