<% if flash[:alert].present? %>
    <div class="alert alert-danger alert-dismissible m-b-none" role="alert">
      <button type="button" class="close" data-dismiss="alert">
        <span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
      <strong>Внимание!</strong>
      <br>
      
      <% if flash[:alert].class.name == "Array" %>
          <%= flash[:alert].join(',') %>
      <% else %>
          <%= flash[:alert] %>
      <% end %>

    </div>
<% end %>