<!doctype html>
<html lang="ru">
<head>
  <meta charset="utf-8">

  <!-- Use the .htaccess and remove these lines to avoid edge case issues.
       More info: h5bp.com/i/378 -->
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

  <title>Aeroprint</title>
  <meta name="description" content="">

  <!-- Mobile viewport optimized: h5bp.com/viewport -->
  <meta name="viewport" content="width=device-width">

  <!-- Place favicon.ico and apple-touch-icon.png in the root directory: mathiasbynens.be/notes/touch-icons -->

  <%= stylesheet_link_tag "application" %>
  <%= csrf_meta_tags %>

  <link rel="stylesheet" href="/css/bootstrap.css" type="text/css"/>
  <link rel="stylesheet" href="/css/animate.css" type="text/css"/>
  <link rel="stylesheet" href="/css/font-awesome.min.css" type="text/css"/>
  <link rel="stylesheet" href="/css/simple-line-icons.css" type="text/css"/>
  <link rel="stylesheet" href="/css/font.css" type="text/css"/>
  <link rel="stylesheet" href="/css/app.css" type="text/css"/>

  <%= stylesheet_link_tag "print", media: :print %>

  <script src="/js/jquery.min.js"></script>
  <script src="/js/bootstrap.js"></script>
  <%= javascript_include_tag 'application' %>

</head>

<body>

<div class="printable">
  <div class="container">
    <div class="wrapper">
      <div class="row">
        <div class="col-sm-12">
          <%= yield(:print_area) %>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="printable">
  <div class="container">
    <div class="wrapper">
      <div class="row">
        <div class="col-sm-12" id="managed_print_area">
        </div>
      </div>
    </div>
  </div>
</div>

<div class="app app-header-fixed non-printable">

  <% if current_user %>
      <% if current_user.admin? %>
          <%= render :partial => 'layouts/admin/left_menu' %>
      <% else %>
          <%= render :partial => 'layouts/manager/left_menu' %>
      <% end %>

      <!-- content -->
      <div id="content" class="app-content" role="main">
        <div class="app-content-body ">

          <%= yield %>

        </div>
      </div>

  <% else %>
      <div class="wrapper-md">
        <%= yield %>
      </div>
  <% end %>

</div>

</body>
</html>
